In [1]:
import os
os.listdir()

['.DS_Store',
 '20-21（1）班级课表(正式版)2020-8-27',
 '计科--软件方向综合课程设计.pptx',
 '20-21（1）教师课表 例子',
 '2018级各班花名册.xlsx',
 'courses.csv',
 '处理文件.ipynb',
 'school_courses.csv',
 '课程.csv',
 '.ipynb_checkpoints',
 'teacher.csv',
 '.~计科--软件方向综合课程设计.pptx']

In [2]:
list1 = os.listdir('./20-21（1）教师课表 例子')

In [3]:
import pandas as pd
name181 = pd.read_excel('./2018级各班花名册.xlsx',header=None,sheet_name = '计科181（36）')
name182 = pd.read_excel('./2018级各班花名册.xlsx',header=None,sheet_name = '计科182（41）')
name183 = pd.read_excel('./2018级各班花名册.xlsx',header=None,sheet_name = '计科183（41）')
name184 = pd.read_excel('./2018级各班花名册.xlsx',header=None,sheet_name = '计科184（40）')
name185 = pd.read_excel('./2018级各班花名册.xlsx',header=None,sheet_name = '计科185（40）')
name186 = pd.read_excel('./2018级各班花名册.xlsx',header=None,sheet_name = '计科186（40）')

In [4]:
temp = name184[5:].reset_index(drop=True)

In [5]:
temp.columns = ['序号','学号','姓名','性别','班别','班别','班别','班别','班别','班别']
temp

    序号          学号    姓名 性别     班别  班别  班别   班别   班别  班别
0    1  1806100004   郑铮誉  男  计科184 NaN NaN  NaN  NaN NaN
1    2  1806100009   叶文迪  男  计科184 NaN NaN  NaN  NaN NaN
2    3  1806100015   陈虹桥  男  计科184 NaN NaN  NaN  NaN NaN
3    4  1806100020   钟正希  男  计科184 NaN NaN  NaN  NaN NaN
4    5  1806100025   陈炯彬  男  计科184 NaN NaN  NaN  NaN NaN
5    6  1806100030   李泔青  男  计科184 NaN NaN  NaN  NaN NaN
6    7  1806100034   余子弋  男  计科184 NaN NaN  NaN  NaN NaN
7    8  1806100039   甘嘉城  男  计科184 NaN NaN  NaN  NaN NaN
8    9  1806100044   程允良  男  计科184 NaN NaN  NaN  NaN NaN
9   10  1806100048   林星宇  男  计科184 NaN NaN  NaN  NaN NaN
10  11  1806100049    黄灏  男  计科184 NaN NaN  NaN  NaN NaN
11  12  1806100054   黄思杰  男  计科184 NaN NaN  NaN  NaN NaN
12  13  1806100059    潘劲  男  计科184 NaN NaN  NaN  NaN NaN
13  14  1806100069   文海天  男  计科184 NaN NaN  NaN  NaN NaN
14  15  1806100074   黄炜锋  男  计科184 NaN NaN  NaN  NaN NaN
15  16  1806100077   邓茹婷  女  计科184 NaN NaN  NaN  NaN NaN
16  17  1806100084   李泓文  男  计科184 NaN NaN  NaN  NaN NaN
17  18  1806100089    黄莹  女  计科184 NaN NaN  NaN  NaN NaN
18  19  1806100094   邓志超  男  计科184 NaN NaN  NaN  NaN NaN
19  20  1806100097   麦焕滨  男  计科184 NaN NaN  NaN  NaN NaN
20  21  1806100110   禤铭东  男  计科184 NaN NaN  NaN  NaN NaN
21  22  1806100111   凌子锐  男  计科184 NaN NaN  NaN  NaN NaN
22  23  1806100116   陈晶晶  女  计科184 NaN NaN  NaN  NaN NaN
23  24  1806100121   欧弘毅  男  计科184 NaN NaN  NaN  NaN NaN
24  25  1806100126   曾嘉晋  男  计科184 NaN NaN  NaN  NaN NaN
25  26  1806100131   彭家豪  男  计科184 NaN NaN  NaN  NaN NaN
26  27  1806100133   魏淑萍  女  计科184 NaN NaN  NaN  NaN NaN
27  28  1806100136   梁浩俊  男  计科184 NaN NaN  NaN  NaN NaN
28  29  1806100141  刘付伟顺  男  计科184 NaN NaN  NaN  NaN NaN
29  30  1806100143   洪育懋  女  计科184 NaN NaN  NaN  NaN NaN
30  31  1806100146   周星辉  男  计科184 NaN NaN  NaN  NaN NaN
31  32  1806100159   吴彬东  男  计科184 NaN NaN  NaN  NaN NaN
32  33  1806100161   陆文胜  男  计科184 NaN NaN  NaN  NaN NaN
33  34  1806100166   梁汉杰  男  计科184 NaN NaN  NaN  NaN NaN
34  35  1806100171   朱颖锋  男  计科184 NaN NaN  NaN  NaN NaN
35  36  1806100178    刘洋  男  计科184 NaN NaN  NaN  NaN NaN
36  37  1806100182   卢科达  男  计科184 NaN NaN  NaN  NaN NaN
37  38  1806100189   潘世喻  男  计科184 NaN NaN  NaN  NaN NaN
38  39  1806100197   钟季澄  男  计科184 NaN NaN  NaN  NaN NaN
39  40  1806100202   程炜斯  男  计科184 NaN NaN  NaN  NaN NaN

In [6]:
for index,row in name181[5:].iterrows():
    print(f"INSERT INTO student VALUES({row[1]},'{row[2]}','{row[3]}',date('2018-09-01'),'计算机科学与技术','{row[1][5:]}',{row[4][2:]});")
for index,row in name182[5:].iterrows():
    print(f"INSERT INTO student VALUES({row[1]},'{row[2]}','{row[3]}',date('2018-09-01'),'计算机科学与技术','{row[1][5:]}',{row[4][2:]});")
for index,row in name183[5:].iterrows():
    print(f"INSERT INTO student VALUES({row[1]},'{row[2]}','{row[3]}',date('2018-09-01'),'计算机科学与技术','{row[1][5:]}',{row[4][2:]});")
for index,row in name184[5:].iterrows():
    print(f"INSERT INTO student VALUES({row[1]},'{row[2]}','{row[3]}',date('2018-09-01'),'计算机科学与技术','{row[1][5:]}',{row[4][2:]});")
for index,row in name185[5:].iterrows():
    print(f"INSERT INTO student VALUES({row[1]},'{row[2]}','{row[3]}',date('2018-09-01'),'计算机科学与技术','{row[1][5:]}',{row[4][2:]});")
for index,row in name186[5:].iterrows():
    print(f"INSERT INTO student VALUES({row[1]},'{row[2]}','{row[3]}',date('2018-09-01'),'计算机科学与技术','{row[1][5:]}',{row[4][2:]});")

INSERT INTO student VALUES(1806100191,'刘俊烨','男',date('2018-09-01'),'计算机科学与技术','00191',181);
INSERT INTO student VALUES(1806100192,'黄颂升','男',date('2018-09-01'),'计算机科学与技术','00192',181);
INSERT INTO student VALUES(1806100193,'钟志威','男',date('2018-09-01'),'计算机科学与技术','00193',181);
INSERT INTO student VALUES(1806100194,'吴铭杰','男',date('2018-09-01'),'计算机科学与技术','00194',181);
INSERT INTO student VALUES(1806100195,'葛文聪','男',date('2018-09-01'),'计算机科学与技术','00195',181);
INSERT INTO student VALUES(1806100203,'梁志炜','男',date('2018-09-01'),'计算机科学与技术','00203',181);
INSERT INTO student VALUES(1806100204,'黄景良','男',date('2018-09-01'),'计算机科学与技术','00204',181);
INSERT INTO student VALUES(1806100205,'梁宇','男',date('2018-09-01'),'计算机科学与技术','00205',181);
INSERT INTO student VALUES(1806100206,'黎鸿业','男',date('2018-09-01'),'计算机科学与技术','00206',181);
INSERT INTO student VALUES(1806100207,'叶海帆','男',date('2018-09-01'),'计算机科学与技术','00207',181);
INSERT INTO student VALUES(1806100208,'吴柏霖','男',date('2018-09-01'),'计算机科学与技术','00208',181);
INSERT INTO student VALUES(1806100209,'林艺华','男',date('2018-09-01'),'计算机科学与技术','00209',181);
INSERT INTO student VALUES(1806100210,'朱艾清','女',date('2018-09-01'),'计算机科学与技术','00210',181);
INSERT INTO student VALUES(1806100211,'梁文坤','男',date('2018-09-01'),'计算机科学与技术','00211',181);
INSERT INTO student VALUES(1806100212,'刘嘉盛','男',date('2018-09-01'),'计算机科学与技术','00212',181);
INSERT INTO student VALUES(1806100213,'杨碧芬','女',date('2018-09-01'),'计算机科学与技术','00213',181);
INSERT INTO student VALUES(1806100214,'吴泽源','男',date('2018-09-01'),'计算机科学与技术','00214',181);
INSERT INTO student VALUES(1806100215,'彭小英','女',date('2018-09-01'),'计算机科学与技术','00215',181);
INSERT INTO student VALUES(1806100216,'唐子豪','男',date('2018-09-01'),'计算机科学与技术','00216',181);
INSERT INTO student VALUES(1806100217,'邓月英','女',date('2018-09-01'),'计算机科学与技术','00217',181);
INSERT INTO student VALUES(1806100218,'张祖龙','男',date('2018-09-01'),'计算机科学与技术','00218',181);
INSERT INTO student VALUES(1806100219,'黄润源','男',date('2018-09-01'),'计算机科学与技术','00219',181);
INSERT INTO student VALUES(1806100222,'孔德岚','女',date('2018-09-01'),'计算机科学与技术','00222',181);
INSERT INTO student VALUES(1806100223,'梁德心','女',date('2018-09-01'),'计算机科学与技术','00223',181);
INSERT INTO student VALUES(1806100224,'关喜荣','男',date('2018-09-01'),'计算机科学与技术','00224',181);
INSERT INTO student VALUES(1806100225,'王业鸿','男',date('2018-09-01'),'计算机科学与技术','00225',181);
INSERT INTO student VALUES(1806100227,'王琪','女',date('2018-09-01'),'计算机科学与技术','00227',181);
INSERT INTO student VALUES(1806100228,'闫浩茂','男',date('2018-09-01'),'计算机科学与技术','00228',181);
INSERT INTO student VALUES(1806100230,'商德涵','男',date('2018-09-01'),'计算机科学与技术','00230',181);
INSERT INTO student VALUES(1806100231,'周强','男',date('2018-09-01'),'计算机科学与技术','00231',181);
INSERT INTO student VALUES(1806100232,'刘雨馨','女',date('2018-09-01'),'计算机科学与技术','00232',181);
INSERT INTO student VALUES(1806100233,'李朝均','男',date('2018-09-01'),'计算机科学与技术','00233',181);
INSERT INTO student VALUES(1806100234,'罗泽纪','男',date('2018-09-01'),'计算机科学与技术','00234',181);
INSERT INTO student VALUES(1806100235,'解淅茗','男',date('2018-09-01'),'计算机科学与技术','00235',181);
INSERT INTO student VALUES(1806100236,'陈开智','男',date('2018-09-01'),'计算机科学与技术','00236',181);
INSERT INTO student VALUES(1806100237,'张振涛','男',date('2018-09-01'),'计算机科学与技术','00237',181);
INSERT INTO student VALUES(1806100001,'胡宁豪','男',date('2018-09-01'),'计算机科学与技术','00001',182);
INSERT INTO student VALUES(1806100007,'朱焯贤','男',date('2018-09-01'),'计算机科学与技术','00007',182);
INSERT INTO student VALUES(1806100010,'钟小溪','男',date('2018-09-01'),'计算机科学与技术','00010',182);
INSERT INTO student VALUES(1806100017,'李沛岳','男',date('2018-09-01'),'计算机科学与技术','00017',182);
INSERT INTO student VALUES(1806100018,'钟永强','男',date('2018-09-01'),'计算机科学与技术','00018',182);
INSERT INTO student VALUES(1806100027,'麦子聪','男',date('2018-09-01'),'计算机科学与技术','00027',182);
INSERT INTO student VALUES(1806100028,'阮学轩','男',date('2018-09-01'),'计算机科学与技术','00028',182);
INSERT INTO student VALUES(1806100041,'张英','男',date('2018-09-01'),'计算机科学与技术','00041',182);
INSERT INTO student VALUES(1806100042,'钟其博','男',date('2018-09-01'),'计算机科学与技术','00042',182);
INSERT INTO student VALUES(1806100051,'陈泽敏','女',date('2018-09-01'),'计算机科学与技术','00051',182);
INSERT INTO student VALUES(1806100052,'张烨','男',date('2018-09-01'),'计算机科学与技术','00052',182);
INSERT INTO student VALUES(1806100064,'冯贺琳','男',date('2018-09-01'),'计算机科学与技术','00064',182);
INSERT INTO student VALUES(1806100067,'李冠昊','男',date('2018-09-01'),'计算机科学与技术','00067',182);
INSERT INTO student VALUES(1806100076,'林灿荣','男',date('2018-09-01'),'计算机科学与技术','00076',182);
INSERT INTO student VALUES(1806100079,'潘梓杰','男',date('2018-09-01'),'计算机科学与技术','00079',182);
INSERT INTO student VALUES(1806100081,'林良销','男',date('2018-09-01'),'计算机科学与技术','00081',182);
INSERT INTO student VALUES(1806100082,'李嘉玲','女',date('2018-09-01'),'计算机科学与技术','00082',182);
INSERT INTO student VALUES(1806100091,'冯镓棚','男',date('2018-09-01'),'计算机科学与技术','00091',182);
INSERT INTO student VALUES(1806100092,'黄裕康','男',date('2018-09-01'),'计算机科学与技术','00092',182);
INSERT INTO student VALUES(1806100095,'张志豪','男',date('2018-09-01'),'计算机科学与技术','00095',182);
INSERT INTO student VALUES(1806100099,'涂有磊','男',date('2018-09-01'),'计算机科学与技术','00099',182);
INSERT INTO student VALUES(1806100100,'温冠东','男',date('2018-09-01'),'计算机科学与技术','00100',182);
INSERT INTO student VALUES(1806100102,'廖润深','男',date('2018-09-01'),'计算机科学与技术','00102',182);
INSERT INTO student VALUES(1806100104,'莫广贤','男',date('2018-09-01'),'计算机科学与技术','00104',182);
INSERT INTO student VALUES(1806100105,'陈敏琪','女',date('2018-09-01'),'计算机科学与技术','00105',182);
INSERT INTO student VALUES(1806100107,'罗炳鑫','男',date('2018-09-01'),'计算机科学与技术','00107',182);
INSERT INTO student VALUES(1806100114,'林晓丹','女',date('2018-09-01'),'计算机科学与技术','00114',182);
INSERT INTO student VALUES(1806100123,'郑子添','男',date('2018-09-01'),'计算机科学与技术','00123',182);
INSERT INTO student VALUES(1806100124,'林泽亮','男',date('2018-09-01'),'计算机科学与技术','00124',182);
INSERT INTO student VALUES(1806100134,'李卓怡','女',date('2018-09-01'),'计算机科学与技术','00134',182);
INSERT INTO student VALUES(1806100151,'吴晓婷','女',date('2018-09-01'),'计算机科学与技术','00151',182);
INSERT INTO student VALUES(1806100152,'赖康','男',date('2018-09-01'),'计算机科学与技术','00152',182);
INSERT INTO student VALUES(1806100153,'黄智健','男',date('2018-09-01'),'计算机科学与技术','00153',182);
INSERT INTO student VALUES(1806100158,'方增煌','男',date('2018-09-01'),'计算机科学与技术','00158',182);
INSERT INTO student VALUES(1806100163,'朱振豪','男',date('2018-09-01'),'计算机科学与技术','00163',182);
INSERT INTO student VALUES(1806100164,'谢鹏翀','男',date('2018-09-01'),'计算机科学与技术','00164',182);
INSERT INTO student VALUES(1806100184,'王凯','男',date('2018-09-01'),'计算机科学与技术','00184',182);
INSERT INTO student VALUES(1806100185,'陈煜','男',date('2018-09-01'),'计算机科学与技术','00185',182);
INSERT INTO student VALUES(1806100187,'谭康兆','男',date('2018-09-01'),'计算机科学与技术','00187',182);
INSERT INTO student VALUES(1806100190,'伍家乐','男',date('2018-09-01'),'计算机科学与技术','00190',182);
INSERT INTO student VALUES(1806100221,'潘精森','男',date('2018-09-01'),'计算机科学与技术','00221',182);
INSERT INTO student VALUES(1806100002,'王智玮','男',date('2018-09-01'),'计算机科学与技术','00002',183);
INSERT INTO student VALUES(1806100006,'潘炜钊','男',date('2018-09-01'),'计算机科学与技术','00006',183);
INSERT INTO student VALUES(1806100008,'杨煜琦','男',date('2018-09-01'),'计算机科学与技术','00008',183);
INSERT INTO student VALUES(1806100016,'潘世良','男',date('2018-09-01'),'计算机科学与技术','00016',183);
INSERT INTO student VALUES(1806100019,'舒斌','男',date('2018-09-01'),'计算机科学与技术','00019',183);
INSERT INTO student VALUES(1806100026,'刘施展','男',date('2018-09-01'),'计算机科学与技术','00026',183);
INSERT INTO student VALUES(1806100029,'刘泫淇','男',date('2018-09-01'),'计算机科学与技术','00029',183);
INSERT INTO student VALUES(1806100033,'林淑欣','女',date('2018-09-01'),'计算机科学与技术','00033',183);
INSERT INTO student VALUES(1806100040,'黎扬宁','男',date('2018-09-01'),'计算机科学与技术','00040',183);
INSERT INTO student VALUES(1806100043,'吴均铭','男',date('2018-09-01'),'计算机科学与技术','00043',183);
INSERT INTO student VALUES(1806100050,'胡梦亭','女',date('2018-09-01'),'计算机科学与技术','00050',183);
INSERT INTO student VALUES(1806100053,'李晓华','男',date('2018-09-01'),'计算机科学与技术','00053',183);
INSERT INTO student VALUES(1806100065,'吴嘉霖','男',date('2018-09-01'),'计算机科学与技术','00065',183);
INSERT INTO student VALUES(1806100068,'全远建','男',date('2018-09-01'),'计算机科学与技术','00068',183);
INSERT INTO student VALUES(1806100075,'罗嘉彬','男',date('2018-09-01'),'计算机科学与技术','00075',183);
INSERT INTO student VALUES(1806100080,'刘子涛','男',date('2018-09-01'),'计算机科学与技术','00080',183);
INSERT INTO student VALUES(1806100083,'黄运转','男',date('2018-09-01'),'计算机科学与技术','00083',183);
INSERT INTO student VALUES(1806100090,'蒋为','男',date('2018-09-01'),'计算机科学与技术','00090',183);
INSERT INTO student VALUES(1806100093,'骆军林','男',date('2018-09-01'),'计算机科学与技术','00093',183);
INSERT INTO student VALUES(1806100096,'梁皓钧','男',date('2018-09-01'),'计算机科学与技术','00096',183);
INSERT INTO student VALUES(1806100103,'陈宏臻','男',date('2018-09-01'),'计算机科学与技术','00103',183);
INSERT INTO student VALUES(1806100106,'蔡广贤','男',date('2018-09-01'),'计算机科学与技术','00106',183);
INSERT INTO student VALUES(1806100112,'黄纪智','男',date('2018-09-01'),'计算机科学与技术','00112',183);
INSERT INTO student VALUES(1806100115,'范琦东','男',date('2018-09-01'),'计算机科学与技术','00115',183);
INSERT INTO student VALUES(1806100122,'康煜章','男',date('2018-09-01'),'计算机科学与技术','00122',183);
INSERT INTO student VALUES(1806100125,'陈湧锋','男',date('2018-09-01'),'计算机科学与技术','00125',183);
INSERT INTO student VALUES(1806100132,'龙华兴','男',date('2018-09-01'),'计算机科学与技术','00132',183);
INSERT INTO student VALUES(1806100135,'董子业','男',date('2018-09-01'),'计算机科学与技术','00135',183);
INSERT INTO student VALUES(1806100142,'何杨慧','女',date('2018-09-01'),'计算机科学与技术','00142',183);
INSERT INTO student VALUES(1806100145,'蔡灿东','男',date('2018-09-01'),'计算机科学与技术','00145',183);
INSERT INTO student VALUES(1806100155,'廖宇昊','男',date('2018-09-01'),'计算机科学与技术','00155',183);
INSERT INTO student VALUES(1806100160,'陈炳霖','男',date('2018-09-01'),'计算机科学与技术','00160',183);
INSERT INTO student VALUES(1806100162,'张健介','男',date('2018-09-01'),'计算机科学与技术','00162',183);
INSERT INTO student VALUES(1806100165,'黄沛琪','女',date('2018-09-01'),'计算机科学与技术','00165',183);
INSERT INTO student VALUES(1806100172,'朱恩民','男',date('2018-09-01'),'计算机科学与技术','00172',183);
INSERT INTO student VALUES(1806100183,'邝诗曼','女',date('2018-09-01'),'计算机科学与技术','00183',183);
INSERT INTO student VALUES(1806100186,'赵子林','男',date('2018-09-01'),'计算机科学与技术','00186',183);
INSERT INTO student VALUES(1806100196,'徐菲菲','女',date('2018-09-01'),'计算机科学与技术','00196',183);
INSERT INTO student VALUES(1806100220,'查真鹏','男',date('2018-09-01'),'计算机科学与技术','00220',183);
INSERT INTO student VALUES(1806100226,'白超同','男',date('2018-09-01'),'计算机科学与技术','00226',183);
INSERT INTO student VALUES(1806100229,'裴文达','男',date('2018-09-01'),'计算机科学与技术','00229',183);
INSERT INTO student VALUES(1806100004,'郑铮誉','男',date('2018-09-01'),'计算机科学与技术','00004',184);
INSERT INTO student VALUES(1806100009,'叶文迪','男',date('2018-09-01'),'计算机科学与技术','00009',184);
INSERT INTO student VALUES(1806100015,'陈虹桥','男',date('2018-09-01'),'计算机科学与技术','00015',184);
INSERT INTO student VALUES(1806100020,'钟正希','男',date('2018-09-01'),'计算机科学与技术','00020',184);
INSERT INTO student VALUES(1806100025,'陈炯彬','男',date('2018-09-01'),'计算机科学与技术','00025',184);
INSERT INTO student VALUES(1806100030,'李泔青','男',date('2018-09-01'),'计算机科学与技术','00030',184);
INSERT INTO student VALUES(1806100034,'余子弋','男',date('2018-09-01'),'计算机科学与技术','00034',184);
INSERT INTO student VALUES(1806100039,'甘嘉城','男',date('2018-09-01'),'计算机科学与技术','00039',184);
INSERT INTO student VALUES(1806100044,'程允良','男',date('2018-09-01'),'计算机科学与技术','00044',184);
INSERT INTO student VALUES(1806100048,'林星宇','男',date('2018-09-01'),'计算机科学与技术','00048',184);
INSERT INTO student VALUES(1806100049,'黄灏','男',date('2018-09-01'),'计算机科学与技术','00049',184);
INSERT INTO student VALUES(1806100054,'黄思杰','男',date('2018-09-01'),'计算机科学与技术','00054',184);
INSERT INTO student VALUES(1806100059,'潘劲','男',date('2018-09-01'),'计算机科学与技术','00059',184);
INSERT INTO student VALUES(1806100069,'文海天','男',date('2018-09-01'),'计算机科学与技术','00069',184);
INSERT INTO student VALUES(1806100074,'黄炜锋','男',date('2018-09-01'),'计算机科学与技术','00074',184);
INSERT INTO student VALUES(1806100077,'邓茹婷','女',date('2018-09-01'),'计算机科学与技术','00077',184);
INSERT INTO student VALUES(1806100084,'李泓文','男',date('2018-09-01'),'计算机科学与技术','00084',184);
INSERT INTO student VALUES(1806100089,'黄莹','女',date('2018-09-01'),'计算机科学与技术','00089',184);
INSERT INTO student VALUES(1806100094,'邓志超','男',date('2018-09-01'),'计算机科学与技术','00094',184);
INSERT INTO student VALUES(1806100097,'麦焕滨','男',date('2018-09-01'),'计算机科学与技术','00097',184);
INSERT INTO student VALUES(1806100110,'禤铭东','男',date('2018-09-01'),'计算机科学与技术','00110',184);
INSERT INTO student VALUES(1806100111,'凌子锐','男',date('2018-09-01'),'计算机科学与技术','00111',184);
INSERT INTO student VALUES(1806100116,'陈晶晶','女',date('2018-09-01'),'计算机科学与技术','00116',184);
INSERT INTO student VALUES(1806100121,'欧弘毅','男',date('2018-09-01'),'计算机科学与技术','00121',184);
INSERT INTO student VALUES(1806100126,'曾嘉晋','男',date('2018-09-01'),'计算机科学与技术','00126',184);
INSERT INTO student VALUES(1806100131,'彭家豪','男',date('2018-09-01'),'计算机科学与技术','00131',184);
INSERT INTO student VALUES(1806100133,'魏淑萍','女',date('2018-09-01'),'计算机科学与技术','00133',184);
INSERT INTO student VALUES(1806100136,'梁浩俊','男',date('2018-09-01'),'计算机科学与技术','00136',184);
INSERT INTO student VALUES(1806100141,'刘付伟顺','男',date('2018-09-01'),'计算机科学与技术','00141',184);
INSERT INTO student VALUES(1806100143,'洪育懋','女',date('2018-09-01'),'计算机科学与技术','00143',184);
INSERT INTO student VALUES(1806100146,'周星辉','男',date('2018-09-01'),'计算机科学与技术','00146',184);
INSERT INTO student VALUES(1806100159,'吴彬东','男',date('2018-09-01'),'计算机科学与技术','00159',184);
INSERT INTO student VALUES(1806100161,'陆文胜','男',date('2018-09-01'),'计算机科学与技术','00161',184);
INSERT INTO student VALUES(1806100166,'梁汉杰','男',date('2018-09-01'),'计算机科学与技术','00166',184);
INSERT INTO student VALUES(1806100171,'朱颖锋','男',date('2018-09-01'),'计算机科学与技术','00171',184);
INSERT INTO student VALUES(1806100178,'刘洋','男',date('2018-09-01'),'计算机科学与技术','00178',184);
INSERT INTO student VALUES(1806100182,'卢科达','男',date('2018-09-01'),'计算机科学与技术','00182',184);
INSERT INTO student VALUES(1806100189,'潘世喻','男',date('2018-09-01'),'计算机科学与技术','00189',184);
INSERT INTO student VALUES(1806100197,'钟季澄','男',date('2018-09-01'),'计算机科学与技术','00197',184);
INSERT INTO student VALUES(1806100202,'程炜斯','男',date('2018-09-01'),'计算机科学与技术','00202',184);
INSERT INTO student VALUES(1806100011,'黄明律','男',date('2018-09-01'),'计算机科学与技术','00011',185);
INSERT INTO student VALUES(1806100014,'赵善锋','男',date('2018-09-01'),'计算机科学与技术','00014',185);
INSERT INTO student VALUES(1806100021,'许汝超','男',date('2018-09-01'),'计算机科学与技术','00021',185);
INSERT INTO student VALUES(1806100024,'黄楠','男',date('2018-09-01'),'计算机科学与技术','00024',185);
INSERT INTO student VALUES(1806100031,'黄昊晟','男',date('2018-09-01'),'计算机科学与技术','00031',185);
INSERT INTO student VALUES(1806100035,'侯永炬','男',date('2018-09-01'),'计算机科学与技术','00035',185);
INSERT INTO student VALUES(1806100038,'钟权威','男',date('2018-09-01'),'计算机科学与技术','00038',185);
INSERT INTO student VALUES(1806100045,'陈云','男',date('2018-09-01'),'计算机科学与技术','00045',185);
INSERT INTO student VALUES(1806100055,'詹义森','男',date('2018-09-01'),'计算机科学与技术','00055',185);
INSERT INTO student VALUES(1806100058,'陈浩辉','男',date('2018-09-01'),'计算机科学与技术','00058',185);
INSERT INTO student VALUES(1806100060,'吴昕劢','男',date('2018-09-01'),'计算机科学与技术','00060',185);
INSERT INTO student VALUES(1806100063,'罗佳彬','男',date('2018-09-01'),'计算机科学与技术','00063',185);
INSERT INTO student VALUES(1806100066,'钟佩如','女',date('2018-09-01'),'计算机科学与技术','00066',185);
INSERT INTO student VALUES(1806100070,'黄禧龙','男',date('2018-09-01'),'计算机科学与技术','00070',185);
INSERT INTO student VALUES(1806100073,'邓丽姗','女',date('2018-09-01'),'计算机科学与技术','00073',185);
INSERT INTO student VALUES(1806100078,'杨嘉明','男',date('2018-09-01'),'计算机科学与技术','00078',185);
INSERT INTO student VALUES(1806100085,'覃浩','男',date('2018-09-01'),'计算机科学与技术','00085',185);
INSERT INTO student VALUES(1806100088,'甘婷婷','女',date('2018-09-01'),'计算机科学与技术','00088',185);
INSERT INTO student VALUES(1806100098,'梁耀武','男',date('2018-09-01'),'计算机科学与技术','00098',185);
INSERT INTO student VALUES(1806100101,'李松涛','男',date('2018-09-01'),'计算机科学与技术','00101',185);
INSERT INTO student VALUES(1806100108,'林少游','男',date('2018-09-01'),'计算机科学与技术','00108',185);
INSERT INTO student VALUES(1806100117,'殷进娣','女',date('2018-09-01'),'计算机科学与技术','00117',185);
INSERT INTO student VALUES(1806100120,'张东','男',date('2018-09-01'),'计算机科学与技术','00120',185);
INSERT INTO student VALUES(1806100127,'程日强','男',date('2018-09-01'),'计算机科学与技术','00127',185);
INSERT INTO student VALUES(1806100130,'陈金铅','男',date('2018-09-01'),'计算机科学与技术','00130',185);
INSERT INTO student VALUES(1806100137,'李文勇','男',date('2018-09-01'),'计算机科学与技术','00137',185);
INSERT INTO student VALUES(1806100140,'刘斐洋','男',date('2018-09-01'),'计算机科学与技术','00140',185);
INSERT INTO student VALUES(1806100147,'吴金豪','男',date('2018-09-01'),'计算机科学与技术','00147',185);
INSERT INTO student VALUES(1806100150,'练韬','男',date('2018-09-01'),'计算机科学与技术','00150',185);
INSERT INTO student VALUES(1806100154,'郭子良','男',date('2018-09-01'),'计算机科学与技术','00154',185);
INSERT INTO student VALUES(1806100167,'李粤鹏','男',date('2018-09-01'),'计算机科学与技术','00167',185);
INSERT INTO student VALUES(1806100170,'王富铭','男',date('2018-09-01'),'计算机科学与技术','00170',185);
INSERT INTO student VALUES(1806100173,'谢昌良','男',date('2018-09-01'),'计算机科学与技术','00173',185);
INSERT INTO student VALUES(1806100175,'黎自鸿','男',date('2018-09-01'),'计算机科学与技术','00175',185);
INSERT INTO student VALUES(1806100177,'陈东涛','男',date('2018-09-01'),'计算机科学与技术','00177',185);
INSERT INTO student VALUES(1806100181,'任星河','男',date('2018-09-01'),'计算机科学与技术','00181',185);
INSERT INTO student VALUES(1806100188,'邓艺文','男',date('2018-09-01'),'计算机科学与技术','00188',185);
INSERT INTO student VALUES(1806100198,'陈堉锐','男',date('2018-09-01'),'计算机科学与技术','00198',185);
INSERT INTO student VALUES(1806100201,'林嘉丽','女',date('2018-09-01'),'计算机科学与技术','00201',185);
INSERT INTO student VALUES(1806100005,'陈杨辉','男',date('2018-09-01'),'计算机科学与技术','00005',186);
INSERT INTO student VALUES(1806100012,'李嘉章','男',date('2018-09-01'),'计算机科学与技术','00012',186);
INSERT INTO student VALUES(1806100013,'吴倍亮','男',date('2018-09-01'),'计算机科学与技术','00013',186);
INSERT INTO student VALUES(1806100022,'林健龙','男',date('2018-09-01'),'计算机科学与技术','00022',186);
INSERT INTO student VALUES(1806100023,'欧阳豪','男',date('2018-09-01'),'计算机科学与技术','00023',186);
INSERT INTO student VALUES(1806100032,'单雨菲','女',date('2018-09-01'),'计算机科学与技术','00032',186);
INSERT INTO student VALUES(1806100036,'潘鑫','男',date('2018-09-01'),'计算机科学与技术','00036',186);
INSERT INTO student VALUES(1806100037,'吴世涛','男',date('2018-09-01'),'计算机科学与技术','00037',186);
INSERT INTO student VALUES(1806100046,'邱锦鸿','男',date('2018-09-01'),'计算机科学与技术','00046',186);
INSERT INTO student VALUES(1806100047,'倪秋元','男',date('2018-09-01'),'计算机科学与技术','00047',186);
INSERT INTO student VALUES(1806100056,'许统楠','男',date('2018-09-01'),'计算机科学与技术','00056',186);
INSERT INTO student VALUES(1806100057,'吴毓豪','男',date('2018-09-01'),'计算机科学与技术','00057',186);
INSERT INTO student VALUES(1806100061,'王嘉成','男',date('2018-09-01'),'计算机科学与技术','00061',186);
INSERT INTO student VALUES(1806100062,'张健明','男',date('2018-09-01'),'计算机科学与技术','00062',186);
INSERT INTO student VALUES(1806100071,'朱华昌','男',date('2018-09-01'),'计算机科学与技术','00071',186);
INSERT INTO student VALUES(1806100072,'王添','男',date('2018-09-01'),'计算机科学与技术','00072',186);
INSERT INTO student VALUES(1806100086,'高智健','男',date('2018-09-01'),'计算机科学与技术','00086',186);
INSERT INTO student VALUES(1806100087,'彭少淇','女',date('2018-09-01'),'计算机科学与技术','00087',186);
INSERT INTO student VALUES(1806100109,'陈栢锐','男',date('2018-09-01'),'计算机科学与技术','00109',186);
INSERT INTO student VALUES(1806100113,'彭胡杨','女',date('2018-09-01'),'计算机科学与技术','00113',186);

In [7]:
list1 = os.listdir('./20-21（1）班级课表(正式版)2020-8-27')

In [8]:
list1 = os.listdir('./20-21（1）班级课表(正式版)2020-8-27')
course = pd.DataFrame(columns=['name','time','teacher_name','bixiu','duoshaojieke','keshi','xuefen'])
for i in list1:
    data = pd.read_excel('./20-21（1）班级课表(正式版)2020-8-27/'+i)
    shape = data.shape
    for j in range(shape[0]):
        for k in range(shape[1]):
            df = data.iloc[j,k]
            df = str(df)
            df = df.split('/')
            if len(df)<10:
                continue
            if df[0]=='Unix':
                df4 = pd.DataFrame([df[0]+'/'+df[1],df[2],df[4],df[7],df[10],df[11],df[12].split('\r')[0]]).T
            else :
                df4 = pd.DataFrame([df[0].split('*')[0],df[1],df[3],df[6],df[9],df[10],df[11].split('\r')[0]]).T
            df4.columns = course.columns
            # 把两个dataframe合并，需要设置 ignore_index=True
            course = pd.concat([course,df4],ignore_index=True)

In [9]:
course

,name,time,teacher_name,bixiu,duoshaojieke,keshi,xuefen
0,人工智能原理,1-16周,谭恒良,专业必修课程,4,48,3
1,人工智能原理,1-8周,谭恒良,专业必修课程,4,48,3
2,Unix/Linux操作系统分析实验,1-8周,陶文正,专业选修课程,2,16,0.5
3,人工智能原理实验,1-16周,谭恒良,专业必修课程,2,32,1
4,算法设计与分析,1-16周,陈文彬,专业选修课程,2,32,2
...,...,...,...,...,...,...,...
103,Unix/Linux 操作系统分析,(9-11节)1-10周,陶文正,专业选修课程,3,32,2
104,人工智能原理,(9-11节)1-16周,计机（外聘7）,专业必修课程,4,48,3
105,机器学习与数据挖掘,(9-11节)1-16周,计机（外聘4）,专业必修课程,3,48,3
106,Unix/Linux 操作系统分析,(9-11节)1-10周,陶文正,专业选修课程,3,32,2
107,人工智能原理,(9-11节)1-16周,计机（外聘7）,专业必修课程,4,48,3

In [10]:
list1

['计科183课表1.xls',
 '计科181课表1.xls',
 '计科185课表1.xls',
 '计科182课表1.xls',
 '计科184课表1.xls',
 '计科186课表1.xls']

In [11]:
import os

In [12]:
course = course[course['name']!='形势与政策']
course = course[course['name']!='人工智能应用']
course = course[course['name']!='科技英语写作']
course = course[course['name']!='机器学习理论与技术']
course = course[course['name']!='人工智能编程语言']

In [13]:
course_tea_name = course['teacher_name'].value_counts().keys()
teacher = pd.read_csv('./teacher.csv')
old_teacher = teacher['teacher_name'].value_counts().keys()
k=0
for i in course_tea_name:
    if i not in old_teacher:
        k+=1
        if i =='杨柳' or i =='吴昱':
            df4 = pd.DataFrame([110000+k,i,'女','计算机科学与网络工程学院',0,123456]).T
        else:
            df4 = pd.DataFrame([110000+k,i,'男','计算机科学与网络工程学院',0,123456]).T
        df4.columns = teacher.columns
        # 把两个dataframe合并，需要设置 ignore_index=True
        teacher = pd.concat([df4,teacher],ignore_index=True)

In [14]:
teacher['password'] = 1111
teacher

,teacher_id,teacher_name,teacher_sex,teacher_department,teacher_type,password
0,110009,陈文彬,男,计算机科学与网络工程学院,0,1111
1,110008,吴昱,女,计算机科学与网络工程学院,0,1111
2,110007,杨柳,女,计算机科学与网络工程学院,0,1111
3,110006,吴际,男,计算机科学与网络工程学院,0,1111
4,110005,杨朔,男,计算机科学与网络工程学院,0,1111
5,110004,计机（外聘4）,男,计算机科学与网络工程学院,0,1111
6,110003,计机（外聘3）,男,计算机科学与网络工程学院,0,1111
7,110002,庄育飞,男,计算机科学与网络工程学院,0,1111
8,110001,计机（外聘7）,男,计算机科学与网络工程学院,0,1111
9,100983,丘凯伦,男,计算机科学与网络工程学院,1,1111
10,103745,何锫,男,计算机科学与网络工程学院,0,1111
11,103168,冯元勇,男,计算机科学与网络工程学院,0,1111
12,101629,刘敏华,女,计算机科学与网络工程学院,0,1111
13,101621,刘斌,男,计算机科学与网络工程学院,0,1111
14,100210,刘淼,男,计算机科学与网络工程学院,0,1111
15,101469,古鹏,男,计算机科学与网络工程学院,0,1111
16,104087,唐卷,男,计算机科学与网络工程学院,0,1111
17,102675,唐琳,女,计算机科学与网络工程学院,0,1111
18,205082,宁洪,男,计算机科学与网络工程学院,0,1111
19,104363,彭滔,男,计算机科学与网络工程学院,0,1111
20,102047,揭廷红,女,计算机科学与网络工程学院,0,1111
21,104387,方美娥,女,计算机科学与网络工程学院,0,1111
22,100755,李传中,男,计算机科学与网络工程学院,0,1111
23,104353,李婧,女,计算机科学与网络工程学院,0,1111
24,103321,李进,男,计算机科学与网络工程学院,0,1111
25,102083,李雨霞,男,计算机科学与网络工程学院,0,1111
26,100776,李鹏,男,计算机科学与网络工程学院,0,1111
27,100103,桂丽萍,女,计算机科学与网络工程学院,0,1111
28,101038,汤泳山,男,计算机科学与网络工程学院,0,1111
29,102209,汤茂斌,男,计算机科学与网络工程学院,0,1111
30,103325,王健雄,男,计算机科学与网络工程学院,0,1111
31,104632,王员根,男,计算机科学与网络工程学院,0,1111
32,104029,王国军,男,计算机科学与网络工程学院,0,1111
33,104648,王显珉,男,计算机科学与网络工程学院,0,1111
34,103304,王秀妮,女,计算机科学与网络工程学院,0,1111
35,104103,王艳,女,计算机科学与网络工程学院,0,1111
36,102726,綦科,男,计算机科学与网络工程学院,0,1111
37,104123,范立生,男,计算机科学与网络工程学院,0,1111
38,104334,谭伟强,男,计算机科学与网络工程学院,0,1111
39,100276,谭建中,男,计算机科学与网络工程学院,0,1111
40,204896,谭恒良,男,计算机科学与网络工程学院,0,1111
41,105102,赖根,男,计算机科学与网络工程学院,0,1111
42,102625,郭四稳,男,计算机科学与网络工程学院,0,1111
43,101540,金政哲,男,计算机科学与网络工程学院,0,1111
44,101048,陶文正,男,计算机科学与网络工程学院,0,1111
45,205039,饶彦祎,男,计算机科学与网络工程学院,0,1111
46,102420,饶永生,男,计算机科学与网络工程学院,0,1111
47,100625,高鹰,男,计算机科学与网络工程学院,0,1111

In [15]:
for index,row in teacher.iterrows():
    print(f"INSERT INTO teacher VALUES({row[0]},'{row[1]}','{1111}','{row[2]}',{row[4]});")

INSERT INTO teacher VALUES(110009,'陈文彬','1111','男',0);
INSERT INTO teacher VALUES(110008,'吴昱','1111','女',0);
INSERT INTO teacher VALUES(110007,'杨柳','1111','女',0);
INSERT INTO teacher VALUES(110006,'吴际','1111','男',0);
INSERT INTO teacher VALUES(110005,'杨朔','1111','男',0);
INSERT INTO teacher VALUES(110004,'计机（外聘4）','1111','男',0);
INSERT INTO teacher VALUES(110003,'计机（外聘3）','1111','男',0);
INSERT INTO teacher VALUES(110002,'庄育飞','1111','男',0);
INSERT INTO teacher VALUES(110001,'计机（外聘7）','1111','男',0);
INSERT INTO teacher VALUES(100983,'丘凯伦','1111','男',1);
INSERT INTO teacher VALUES(103745,'何锫','1111','男',0);
INSERT INTO teacher VALUES(103168,'冯元勇','1111','男',0);
INSERT INTO teacher VALUES(101629,'刘敏华','1111','女',0);
INSERT INTO teacher VALUES(101621,'刘斌','1111','男',0);
INSERT INTO teacher VALUES(100210,'刘淼','1111','男',0);
INSERT INTO teacher VALUES(101469,'古鹏','1111','男',0);
INSERT INTO teacher VALUES(104087,'唐卷','1111','男',0);
INSERT INTO teacher VALUES(102675,'唐琳','1111','女',0);
INSERT INTO teacher VALUES(205082,'宁洪','1111','男',0);
INSERT INTO teacher VALUES(104363,'彭滔','1111','男',0);
INSERT INTO teacher VALUES(102047,'揭廷红','1111','女',0);
INSERT INTO teacher VALUES(104387,'方美娥','1111','女',0);
INSERT INTO teacher VALUES(100755,'李传中','1111','男',0);
INSERT INTO teacher VALUES(104353,'李婧','1111','女',0);
INSERT INTO teacher VALUES(103321,'李进','1111','男',0);
INSERT INTO teacher VALUES(102083,'李雨霞','1111','男',0);
INSERT INTO teacher VALUES(100776,'李鹏','1111','男',0);
INSERT INTO teacher VALUES(100103,'桂丽萍','1111','女',0);
INSERT INTO teacher VALUES(101038,'汤泳山','1111','男',0);
INSERT INTO teacher VALUES(102209,'汤茂斌','1111','男',0);
INSERT INTO teacher VALUES(103325,'王健雄','1111','男',0);
INSERT INTO teacher VALUES(104632,'王员根','1111','男',0);
INSERT INTO teacher VALUES(104029,'王国军','1111','男',0);
INSERT INTO teacher VALUES(104648,'王显珉','1111','男',0);
INSERT INTO teacher VALUES(103304,'王秀妮','1111','女',0);
INSERT INTO teacher VALUES(104103,'王艳','1111','女',0);
INSERT INTO teacher VALUES(102726,'綦科','1111','男',0);
INSERT INTO teacher VALUES(104123,'范立生','1111','男',0);
INSERT INTO teacher VALUES(104334,'谭伟强','1111','男',0);
INSERT INTO teacher VALUES(100276,'谭建中','1111','男',0);
INSERT INTO teacher VALUES(204896,'谭恒良','1111','男',0);
INSERT INTO teacher VALUES(105102,'赖根','1111','男',0);
INSERT INTO teacher VALUES(102625,'郭四稳','1111','男',0);
INSERT INTO teacher VALUES(101540,'金政哲','1111','男',0);
INSERT INTO teacher VALUES(101048,'陶文正','1111','男',0);
INSERT INTO teacher VALUES(205039,'饶彦祎','1111','男',0);
INSERT INTO teacher VALUES(102420,'饶永生','1111','男',0);
INSERT INTO teacher VALUES(100625,'高鹰','1111','男',0);

In [16]:
course = pd.merge(course,teacher,how='left',on=['teacher_name'])

In [17]:
course.shape

(98, 12)

In [18]:
course.drop_duplicates().reset_index(drop=True)

,name,time,teacher_name,bixiu,duoshaojieke,keshi,xuefen,teacher_id,teacher_sex,teacher_department,teacher_type,password
0,人工智能原理,1-16周,谭恒良,专业必修课程,4,48,3,204896,男,计算机科学与网络工程学院,0,1111
1,人工智能原理,1-8周,谭恒良,专业必修课程,4,48,3,204896,男,计算机科学与网络工程学院,0,1111
2,Unix/Linux操作系统分析实验,1-8周,陶文正,专业选修课程,2,16,0.5,101048,男,计算机科学与网络工程学院,0,1111
3,人工智能原理实验,1-16周,谭恒良,专业必修课程,2,32,1,204896,男,计算机科学与网络工程学院,0,1111
4,算法设计与分析,1-16周,陈文彬,专业选修课程,2,32,2,110009,男,计算机科学与网络工程学院,0,1111
5,编译原理实验,9-16周,冯元勇,专业必修课程,2,16,0.5,103168,男,计算机科学与网络工程学院,0,1111
6,软件工程导论实验,1-8周,庄育飞,专业选修课程,2,16,0.5,110002,男,计算机科学与网络工程学院,0,1111
7,Unix/Linux 操作系统分析,(9-11节)1-10周,陶文正,专业选修课程,3,32,2,101048,男,计算机科学与网络工程学院,0,1111
8,机器学习与数据挖掘,(9-11节)1-16周,计机（外聘3）,专业必修课程,3,48,3,110003,男,计算机科学与网络工程学院,0,1111
9,编译原理,(9-10节)1-16周,冯元勇,专业必修课程,2,32,2.0,103168,男,计算机科学与网络工程学院,0,1111
10,软件工程导论,(9-11节)1-10周,庄育飞,专业选修课程,3,32,2.0,110002,男,计算机科学与网络工程学院,0,1111
11,机器学习与数据挖掘,1-16周,杨朔,专业必修课程,3,48,3,110005,男,计算机科学与网络工程学院,0,1111
12,机器学习与数据挖掘,1-8周,杨朔,专业必修课程,3,48,3,110005,男,计算机科学与网络工程学院,0,1111
13,编译原理,1-16周,唐卷,专业必修课程,2,32,2.0,104087,男,计算机科学与网络工程学院,0,1111
14,机器学习与数据挖掘实验,9-16周,杨朔,专业必修课程,2,16,0.5,110005,男,计算机科学与网络工程学院,0,1111
15,编译原理实验,9-16周,唐卷,专业必修课程,2,16,0.5,104087,男,计算机科学与网络工程学院,0,1111
16,软件工程导论,1-15周(单),吴际,专业选修课程,2,16,2.0,110006,男,计算机科学与网络工程学院,0,1111
17,编译原理,1-16周,吴昱,专业必修课程,2,32,2.0,110008,女,计算机科学与网络工程学院,0,1111
18,算法设计与分析,1-16周,杨柳,专业选修课程,2,32,2,110007,女,计算机科学与网络工程学院,0,1111
19,编译原理实验,9-16周,王健雄,专业必修课程,2,16,0.5,103325,男,计算机科学与网络工程学院,0,1111
20,人工智能原理实验,1-16周,计机（外聘7）,专业必修课程,2,32,1,110001,男,计算机科学与网络工程学院,0,1111
21,机器学习与数据挖掘,(9-11节)1-16周,计机（外聘4）,专业必修课程,3,48,3,110004,男,计算机科学与网络工程学院,0,1111
22,人工智能原理,(9-11节)1-16周,计机（外聘7）,专业必修课程,4,48,3,110001,男,计算机科学与网络工程学院,0,1111
23,机器学习与数据挖掘实验,9-16周,计机（外聘3）,专业必修课程,2,16,0.5,110003,男,计算机科学与网络工程学院,0,1111
24,软件工程导论实验,9-16周,吴际,专业选修课程,2,16,0.5,110006,男,计算机科学与网络工程学院,0,1111
25,机器学习与数据挖掘实验,9-16周,计机（外聘4）,专业必修课程,2,16,0.5,110004,男,计算机科学与网络工程学院,0,1111

In [19]:
course['name'].value_counts()

Unix/Linux 操作系统分析     18
机器学习与数据挖掘             16
人工智能原理                15
软件工程导论                12
编译原理                   7
Unix/Linux操作系统分析实验     6
算法设计与分析                6
人工智能原理实验               6
软件工程导论实验               4
机器学习与数据挖掘实验            4
编译原理实验                 4
Name: name, dtype: int64

In [20]:
course_df = course
course_df= course_df.drop('time',axis=1)
course_df = course_df.drop('teacher_name',axis=1)
course_df = course_df.drop_duplicates().reset_index(drop=True)

In [21]:
courses_courses = pd.read_csv('./courses.csv')

In [22]:
courses_courses

    course_id course_name  credit  is_compulsory exam_method  class_hour
0   180600001       计算机导论     1.0              1          考试          16
1   180600002      程序设计基础     3.0              1          考试          48
2   180600003    程序设计基础实验     1.0              1          考查          32
3   180600004        离散数学     4.0              1          考试          64
4   180600007        数据结构     3.0              1          考试          48
..        ...         ...     ...            ...         ...         ...
65  180600091    分布式数据库系统     2.0              0          考查          32
66  180600092  分布式数据库系统实验     0.5              0          考查          16
67  180600095      软件体系结构     2.0              0          考查          32
68  180600097      软件开发实例     0.5              0          考查          16
69  180600105      创新研究课3     0.5              0          考查           8

[70 rows x 6 columns]

In [23]:
for row in course['name'].value_counts().keys():
    k+=1
    name = row
    linshi = course[course['name']==row]['bixiu'].value_counts().keys()[0]
    ddd = course[course['name']==row]['duoshaojieke'].value_counts().keys()[0]
    jilu = courses_courses[courses_courses['course_name']==row]
    print(f"INSERT INTO groups VALUES({list(jilu['course_id'])[0]},'{name}','{linshi}','{list(jilu['exam_method'])[0]}',{list(jilu['class_hour'])[0]},{list(jilu['credit'])[0]});")

INSERT INTO groups VALUES(180600026,'Unix/Linux 操作系统分析','专业选修课程','考查',32,2.0);
INSERT INTO groups VALUES(180600080,'机器学习与数据挖掘','专业必修课程','考试',48,3.0);
INSERT INTO groups VALUES(180610001,'人工智能原理','专业必修课程','考试',48,3.0);
INSERT INTO groups VALUES(180600019,'软件工程导论','专业选修课程','考试',32,2.0);
INSERT INTO groups VALUES(180600017,'编译原理','专业必修课程','考试',32,2.0);
INSERT INTO groups VALUES(180600027,'Unix/Linux操作系统分析实验','专业选修课程','考查',16,0.5);
INSERT INTO groups VALUES(180600025,'算法设计与分析','专业选修课程','考试',32,2.0);
INSERT INTO groups VALUES(180610002,'人工智能原理实验','专业必修课程','考查',32,1.0);
INSERT INTO groups VALUES(180600020,'软件工程导论实验','专业选修课程','考查',16,0.5);
INSERT INTO groups VALUES(180600081,'机器学习与数据挖掘实验','专业必修课程','考查',16,0.5);
INSERT INTO groups VALUES(180600018,'编译原理实验','专业必修课程','考查',16,0.5);

In [24]:
import numpy as np
for row in course['name'].value_counts().keys():
    pp = 0
    k+=1
    name = row
    linshi = course[course['name']==row]['teacher_name'].value_counts().keys()
    jilu = courses_courses[courses_courses['course_name']==row]
    for j in linshi:
        ids = np.array(course[course['teacher_name']==j]['teacher_id'])[0]
        if pp==0:
            print(f"INSERT INTO group_teacher VALUES({list(jilu['course_id'])[0]},'{ids}',1);")
        else:
            print(f"INSERT INTO group_teacher VALUES({list(jilu['course_id'])[0]},'{ids}',0);")
        pp+=1

INSERT INTO group_teacher VALUES(180600026,'101048',1);
INSERT INTO group_teacher VALUES(180600080,'110003',1);
INSERT INTO group_teacher VALUES(180600080,'110004',0);
INSERT INTO group_teacher VALUES(180600080,'110005',0);
INSERT INTO group_teacher VALUES(180610001,'110001',1);
INSERT INTO group_teacher VALUES(180610001,'204896',0);
INSERT INTO group_teacher VALUES(180600019,'110002',1);
INSERT INTO group_teacher VALUES(180600019,'110006',0);
INSERT INTO group_teacher VALUES(180600017,'110008',1);
INSERT INTO group_teacher VALUES(180600017,'104087',0);
INSERT INTO group_teacher VALUES(180600017,'103168',0);
INSERT INTO group_teacher VALUES(180600027,'101048',1);
INSERT INTO group_teacher VALUES(180600025,'110009',1);
INSERT INTO group_teacher VALUES(180600025,'110007',0);
INSERT INTO group_teacher VALUES(180610002,'110001',1);
INSERT INTO group_teacher VALUES(180610002,'204896',0);
INSERT INTO group_teacher VALUES(180600020,'110002',1);
INSERT INTO group_teacher VALUES(180600020,'110006',0);
INSERT INTO group_teacher VALUES(180600081,'110005',1);
INSERT INTO group_teacher VALUES(180600081,'110003',0);
INSERT INTO group_teacher VALUES(180600081,'110004',0);
INSERT INTO group_teacher VALUES(180600018,'103325',1);
INSERT INTO group_teacher VALUES(180600018,'104087',0);
INSERT INTO group_teacher VALUES(180600018,'103168',0);

In [58]:
print(f"INSERT INTO classes VALUES(181,'计科181',104648);")
print(f"INSERT INTO classes VALUES(182,'计科182',103321);")
print(f"INSERT INTO classes VALUES(183,'计科183',102625);")
print(f"INSERT INTO classes VALUES(184,'计科184',104648);")
print(f"INSERT INTO classes VALUES(185,'计科185',110005);")
print(f"INSERT INTO classes VALUES(186,'计科186',103325);")

INSERT INTO classes VALUES(181,'计科181',104648);
INSERT INTO classes VALUES(182,'计科182',103321);
INSERT INTO classes VALUES(183,'计科183',102625);
INSERT INTO classes VALUES(184,'计科184',104648);
INSERT INTO classes VALUES(185,'计科185',110005);
INSERT INTO classes VALUES(186,'计科186',103325);

In [26]:
pd.DataFrame([[181,'计科181',104648],[182,'计科182',103321],[183,'计科183',102625],[184,'计科184',104648],[185,'计科185',110005],[186,'计科186',103325]],columns = ['班别号','班级名称','班主任教师号'])

   班别号   班级名称  班主任教师号
0  181  计科181  104648
1  182  计科182  103321
2  183  计科183  102625
3  184  计科184  104648
4  185  计科185  110005
5  186  计科186  103325

In [27]:
# 排课算法

In [28]:
contents = []
tech_contents = []
for row in course['name'].value_counts().keys():
    k+=1
    name = row
    linshi3 = course[course['name']==row]['bixiu'].value_counts().keys()[0]
    ddd = course[course['name']==row]['duoshaojieke'].value_counts().keys()[0]
    jilu = courses_courses[courses_courses['course_name']==row]
    linshi = course[course['name']==row]['teacher_name'].value_counts().keys()
    linshi2 = course[course['name']==row]['teacher_id'].value_counts().keys()
    tech_contents.append([linshi,linshi2])
    contents.append([list(jilu['course_id'])[0],name,linshi3,list(jilu['exam_method'])[0],list(jilu['class_hour'])[0],list(jilu['credit'])[0]])

In [29]:
kk = pd.DataFrame(contents)
kk.columns = ['课程代码','课程名称','性质','考察类型','总学时','学分']
kk

         课程代码                课程名称      性质 考察类型  总学时   学分
0   180600026   Unix/Linux 操作系统分析  专业选修课程   考查   32  2.0
1   180600080           机器学习与数据挖掘  专业必修课程   考试   48  3.0
2   180610001              人工智能原理  专业必修课程   考试   48  3.0
3   180600019              软件工程导论  专业选修课程   考试   32  2.0
4   180600017                编译原理  专业必修课程   考试   32  2.0
5   180600027  Unix/Linux操作系统分析实验  专业选修课程   考查   16  0.5
6   180600025             算法设计与分析  专业选修课程   考试   32  2.0
7   180610002            人工智能原理实验  专业必修课程   考查   32  1.0
8   180600020            软件工程导论实验  专业选修课程   考查   16  0.5
9   180600081         机器学习与数据挖掘实验  专业必修课程   考查   16  0.5
10  180600018              编译原理实验  专业必修课程   考查   16  0.5

In [30]:
bb = pd.DataFrame(tech_contents)
bb.columns = ['课程组老师','对应的教师号']
bb['课程代码']=kk['课程代码']
bb['课程名称']=kk['课程名称']
bb

,课程组老师,对应的教师号,课程代码,课程名称
0,"Index(['陶文正'], dtype='object')","Int64Index([101048], dtype='int64')",180600026,Unix/Linux 操作系统分析
1,"Index(['计机（外聘3）', '计机（外聘4）', '杨朔'], dtype='obj...","Int64Index([110003, 110004, 110005], dtype='in...",180600080,机器学习与数据挖掘
2,"Index(['计机（外聘7）', '谭恒良'], dtype='object')","Int64Index([110001, 204896], dtype='int64')",180610001,人工智能原理
3,"Index(['庄育飞', '吴际'], dtype='object')","Int64Index([110002, 110006], dtype='int64')",180600019,软件工程导论
4,"Index(['吴昱', '唐卷', '冯元勇'], dtype='object')","Int64Index([110008, 104087, 103168], dtype='in...",180600017,编译原理
5,"Index(['陶文正'], dtype='object')","Int64Index([101048], dtype='int64')",180600027,Unix/Linux操作系统分析实验
6,"Index(['陈文彬', '杨柳'], dtype='object')","Int64Index([110007, 110009], dtype='int64')",180600025,算法设计与分析
7,"Index(['计机（外聘7）', '谭恒良'], dtype='object')","Int64Index([110001, 204896], dtype='int64')",180610002,人工智能原理实验
8,"Index(['庄育飞', '吴际'], dtype='object')","Int64Index([110002, 110006], dtype='int64')",180600020,软件工程导论实验
9,"Index(['杨朔', '计机（外聘3）', '计机（外聘4）'], dtype='obj...","Int64Index([110005, 110003, 110004], dtype='in...",180600081,机器学习与数据挖掘实验
10,"Index(['王健雄', '唐卷', '冯元勇'], dtype='object')","Int64Index([103325, 104087, 103168], dtype='in...",180600018,编译原理实验

In [31]:
teach_courses =[]
start = 100
for i in range(len(contents)):
    start+=1
    
    teach_class_num = 0
    weektimes = 0
    week = 0
    if contents[i][4] == 16 : 
        weektimes = 2
        week = 8
    elif contents[i][4] == 32 : 
        weektimes = 2
        week = 16    
    elif contents[i][4] == 48 : 
        weektimes = 3
        week = 16   
            
            
    if len(tech_contents[i][0])==1:
        teach_course = [start,tech_contents[i][1][0],tech_contents[i][0][0],weektimes,week,3,'181,182,183']#每周多少个小时，多少周，一次课多少个班
        teach_course = teach_course + contents[i]
        teach_courses.append(teach_course)
        start+=1
        teach_course = [start,tech_contents[i][1][0],tech_contents[i][0][0],weektimes,week,3,'184,185,186']
        teach_course = teach_course + contents[i]  
        teach_courses.append(teach_course)
    if len(tech_contents[i][0])==2:
        teach_course = [start,tech_contents[i][1][0],tech_contents[i][0][0],weektimes,week,3,'181,182,183']#每周多少个小时，多少周，一次课多少个班
        teach_course = teach_course + contents[i]
        teach_courses.append(teach_course)
        start+=1
        teach_course = [start,tech_contents[i][1][1],tech_contents[i][0][1],weektimes,week,3,'184,185,186']
        teach_course = teach_course + contents[i]  
        teach_courses.append(teach_course)
    if len(tech_contents[i][0])==3:
        teach_course = [start,tech_contents[i][1][0],tech_contents[i][0][0],weektimes,week,2,'181,182']#每周多少个小时，多少周，一次课多少个班
        teach_course = teach_course + contents[i]
        teach_courses.append(teach_course)
        start+=1
        teach_course = [start,tech_contents[i][1][1],tech_contents[i][0][1],weektimes,week,2,'183,184']
        teach_course = teach_course + contents[i]  
        teach_courses.append(teach_course)
        start+=1
        teach_course = [start,tech_contents[i][1][2],tech_contents[i][0][2],weektimes,week,2,'185,186']
        teach_course = teach_course + contents[i]  
        teach_courses.append(teach_course)

In [32]:
school_courses = pd.DataFrame(teach_courses,columns=['课程号','教师号','老师名称','每周多少节','共多少周','上课班级数','班别','课程代码','课程名称','性质','考察方式','课时','学分'])
school_courses

,课程号,教师号,老师名称,每周多少节,共多少周,上课班级数,班别,课程代码,课程名称,性质,考察方式,课时,学分
0,101,101048,陶文正,2,16,3,"181,182,183",180600026,Unix/Linux 操作系统分析,专业选修课程,考查,32,2.0
1,102,101048,陶文正,2,16,3,"184,185,186",180600026,Unix/Linux 操作系统分析,专业选修课程,考查,32,2.0
2,103,110003,计机（外聘3）,3,16,2,"181,182",180600080,机器学习与数据挖掘,专业必修课程,考试,48,3.0
3,104,110004,计机（外聘4）,3,16,2,"183,184",180600080,机器学习与数据挖掘,专业必修课程,考试,48,3.0
4,105,110005,杨朔,3,16,2,"185,186",180600080,机器学习与数据挖掘,专业必修课程,考试,48,3.0
5,106,110001,计机（外聘7）,3,16,3,"181,182,183",180610001,人工智能原理,专业必修课程,考试,48,3.0
6,107,204896,谭恒良,3,16,3,"184,185,186",180610001,人工智能原理,专业必修课程,考试,48,3.0
7,108,110002,庄育飞,2,16,3,"181,182,183",180600019,软件工程导论,专业选修课程,考试,32,2.0
8,109,110006,吴际,2,16,3,"184,185,186",180600019,软件工程导论,专业选修课程,考试,32,2.0
9,110,110008,吴昱,2,16,2,"181,182",180600017,编译原理,专业必修课程,考试,32,2.0
10,111,104087,唐卷,2,16,2,"183,184",180600017,编译原理,专业必修课程,考试,32,2.0
11,112,103168,冯元勇,2,16,2,"185,186",180600017,编译原理,专业必修课程,考试,32,2.0
12,113,101048,陶文正,2,8,3,"181,182,183",180600027,Unix/Linux操作系统分析实验,专业选修课程,考查,16,0.5
13,114,101048,陶文正,2,8,3,"184,185,186",180600027,Unix/Linux操作系统分析实验,专业选修课程,考查,16,0.5
14,115,110007,陈文彬,2,16,3,"181,182,183",180600025,算法设计与分析,专业选修课程,考试,32,2.0
15,116,110009,杨柳,2,16,3,"184,185,186",180600025,算法设计与分析,专业选修课程,考试,32,2.0
16,117,110001,计机（外聘7）,2,16,3,"181,182,183",180610002,人工智能原理实验,专业必修课程,考查,32,1.0
17,118,204896,谭恒良,2,16,3,"184,185,186",180610002,人工智能原理实验,专业必修课程,考查,32,1.0
18,119,110002,庄育飞,2,8,3,"181,182,183",180600020,软件工程导论实验,专业选修课程,考查,16,0.5
19,120,110006,吴际,2,8,3,"184,185,186",180600020,软件工程导论实验,专业选修课程,考查,16,0.5
20,121,110005,杨朔,2,8,2,"181,182",180600081,机器学习与数据挖掘实验,专业必修课程,考查,16,0.5
21,122,110003,计机（外聘3）,2,8,2,"183,184",180600081,机器学习与数据挖掘实验,专业必修课程,考查,16,0.5
22,123,110004,计机（外聘4）,2,8,2,"185,186",180600081,机器学习与数据挖掘实验,专业必修课程,考查,16,0.5
23,124,103325,王健雄,2,8,2,"181,182",180600018,编译原理实验,专业必修课程,考查,16,0.5
24,125,104087,唐卷,2,8,2,"183,184",180600018,编译原理实验,专业必修课程,考查,16,0.5
25,126,103168,冯元勇,2,8,2,"185,186",180600018,编译原理实验,专业必修课程,考查,16,0.5

In [33]:
school_courses = pd.DataFrame(teach_courses,columns=['cno','tno','teacher_name','每周多少节','共多少周','同时上多少个班','班别','gno','gname','xingzhi','method','课时','学分'])
school_courses

,cno,tno,teacher_name,每周多少节,共多少周,同时上多少个班,班别,gno,gname,xingzhi,method,课时,学分
0,101,101048,陶文正,2,16,3,"181,182,183",180600026,Unix/Linux 操作系统分析,专业选修课程,考查,32,2.0
1,102,101048,陶文正,2,16,3,"184,185,186",180600026,Unix/Linux 操作系统分析,专业选修课程,考查,32,2.0
2,103,110003,计机（外聘3）,3,16,2,"181,182",180600080,机器学习与数据挖掘,专业必修课程,考试,48,3.0
3,104,110004,计机（外聘4）,3,16,2,"183,184",180600080,机器学习与数据挖掘,专业必修课程,考试,48,3.0
4,105,110005,杨朔,3,16,2,"185,186",180600080,机器学习与数据挖掘,专业必修课程,考试,48,3.0
5,106,110001,计机（外聘7）,3,16,3,"181,182,183",180610001,人工智能原理,专业必修课程,考试,48,3.0
6,107,204896,谭恒良,3,16,3,"184,185,186",180610001,人工智能原理,专业必修课程,考试,48,3.0
7,108,110002,庄育飞,2,16,3,"181,182,183",180600019,软件工程导论,专业选修课程,考试,32,2.0
8,109,110006,吴际,2,16,3,"184,185,186",180600019,软件工程导论,专业选修课程,考试,32,2.0
9,110,110008,吴昱,2,16,2,"181,182",180600017,编译原理,专业必修课程,考试,32,2.0
10,111,104087,唐卷,2,16,2,"183,184",180600017,编译原理,专业必修课程,考试,32,2.0
11,112,103168,冯元勇,2,16,2,"185,186",180600017,编译原理,专业必修课程,考试,32,2.0
12,113,101048,陶文正,2,8,3,"181,182,183",180600027,Unix/Linux操作系统分析实验,专业选修课程,考查,16,0.5
13,114,101048,陶文正,2,8,3,"184,185,186",180600027,Unix/Linux操作系统分析实验,专业选修课程,考查,16,0.5
14,115,110007,陈文彬,2,16,3,"181,182,183",180600025,算法设计与分析,专业选修课程,考试,32,2.0
15,116,110009,杨柳,2,16,3,"184,185,186",180600025,算法设计与分析,专业选修课程,考试,32,2.0
16,117,110001,计机（外聘7）,2,16,3,"181,182,183",180610002,人工智能原理实验,专业必修课程,考查,32,1.0
17,118,204896,谭恒良,2,16,3,"184,185,186",180610002,人工智能原理实验,专业必修课程,考查,32,1.0
18,119,110002,庄育飞,2,8,3,"181,182,183",180600020,软件工程导论实验,专业选修课程,考查,16,0.5
19,120,110006,吴际,2,8,3,"184,185,186",180600020,软件工程导论实验,专业选修课程,考查,16,0.5
20,121,110005,杨朔,2,8,2,"181,182",180600081,机器学习与数据挖掘实验,专业必修课程,考查,16,0.5
21,122,110003,计机（外聘3）,2,8,2,"183,184",180600081,机器学习与数据挖掘实验,专业必修课程,考查,16,0.5
22,123,110004,计机（外聘4）,2,8,2,"185,186",180600081,机器学习与数据挖掘实验,专业必修课程,考查,16,0.5
23,124,103325,王健雄,2,8,2,"181,182",180600018,编译原理实验,专业必修课程,考查,16,0.5
24,125,104087,唐卷,2,8,2,"183,184",180600018,编译原理实验,专业必修课程,考查,16,0.5
25,126,103168,冯元勇,2,8,2,"185,186",180600018,编译原理实验,专业必修课程,考查,16,0.5

In [34]:
#每天一共9节课。早上4节课 下午2节课 晚上3节课，周一到周五五天
#课时数划成 2 2 2 3
#同一个时间段老师不能重复，上课的班别不能冲突
# 对3节和2节的课进行分开排课

In [35]:
# 每周3节课
three_school_courses = school_courses[school_courses['每周多少节']==3]

In [36]:
two_school_courses = school_courses[school_courses['每周多少节']==2]

In [37]:
three_school_courses = three_school_courses.reset_index(drop=True)

In [38]:
two_school_courses = two_school_courses.reset_index(drop=True)

In [39]:
two_school_courses

,cno,tno,teacher_name,每周多少节,共多少周,同时上多少个班,班别,gno,gname,xingzhi,method,课时,学分
0,101,101048,陶文正,2,16,3,"181,182,183",180600026,Unix/Linux 操作系统分析,专业选修课程,考查,32,2.0
1,102,101048,陶文正,2,16,3,"184,185,186",180600026,Unix/Linux 操作系统分析,专业选修课程,考查,32,2.0
2,108,110002,庄育飞,2,16,3,"181,182,183",180600019,软件工程导论,专业选修课程,考试,32,2.0
3,109,110006,吴际,2,16,3,"184,185,186",180600019,软件工程导论,专业选修课程,考试,32,2.0
4,110,110008,吴昱,2,16,2,"181,182",180600017,编译原理,专业必修课程,考试,32,2.0
5,111,104087,唐卷,2,16,2,"183,184",180600017,编译原理,专业必修课程,考试,32,2.0
6,112,103168,冯元勇,2,16,2,"185,186",180600017,编译原理,专业必修课程,考试,32,2.0
7,113,101048,陶文正,2,8,3,"181,182,183",180600027,Unix/Linux操作系统分析实验,专业选修课程,考查,16,0.5
8,114,101048,陶文正,2,8,3,"184,185,186",180600027,Unix/Linux操作系统分析实验,专业选修课程,考查,16,0.5
9,115,110007,陈文彬,2,16,3,"181,182,183",180600025,算法设计与分析,专业选修课程,考试,32,2.0
10,116,110009,杨柳,2,16,3,"184,185,186",180600025,算法设计与分析,专业选修课程,考试,32,2.0
11,117,110001,计机（外聘7）,2,16,3,"181,182,183",180610002,人工智能原理实验,专业必修课程,考查,32,1.0
12,118,204896,谭恒良,2,16,3,"184,185,186",180610002,人工智能原理实验,专业必修课程,考查,32,1.0
13,119,110002,庄育飞,2,8,3,"181,182,183",180600020,软件工程导论实验,专业选修课程,考查,16,0.5
14,120,110006,吴际,2,8,3,"184,185,186",180600020,软件工程导论实验,专业选修课程,考查,16,0.5
15,121,110005,杨朔,2,8,2,"181,182",180600081,机器学习与数据挖掘实验,专业必修课程,考查,16,0.5
16,122,110003,计机（外聘3）,2,8,2,"183,184",180600081,机器学习与数据挖掘实验,专业必修课程,考查,16,0.5
17,123,110004,计机（外聘4）,2,8,2,"185,186",180600081,机器学习与数据挖掘实验,专业必修课程,考查,16,0.5
18,124,103325,王健雄,2,8,2,"181,182",180600018,编译原理实验,专业必修课程,考查,16,0.5
19,125,104087,唐卷,2,8,2,"183,184",180600018,编译原理实验,专业必修课程,考查,16,0.5
20,126,103168,冯元勇,2,8,2,"185,186",180600018,编译原理实验,专业必修课程,考查,16,0.5

In [40]:
cno = two_school_courses[two_school_courses['cno']!=119]
cno = cno[cno['cno']!=120]
cno = cno[cno['cno']!=124]
cno = cno[cno['cno']!=125]
cno = cno[cno['cno']!=126]
cno

,cno,tno,teacher_name,每周多少节,共多少周,同时上多少个班,班别,gno,gname,xingzhi,method,课时,学分
0,101,101048,陶文正,2,16,3,"181,182,183",180600026,Unix/Linux 操作系统分析,专业选修课程,考查,32,2.0
1,102,101048,陶文正,2,16,3,"184,185,186",180600026,Unix/Linux 操作系统分析,专业选修课程,考查,32,2.0
2,108,110002,庄育飞,2,16,3,"181,182,183",180600019,软件工程导论,专业选修课程,考试,32,2.0
3,109,110006,吴际,2,16,3,"184,185,186",180600019,软件工程导论,专业选修课程,考试,32,2.0
4,110,110008,吴昱,2,16,2,"181,182",180600017,编译原理,专业必修课程,考试,32,2.0
5,111,104087,唐卷,2,16,2,"183,184",180600017,编译原理,专业必修课程,考试,32,2.0
6,112,103168,冯元勇,2,16,2,"185,186",180600017,编译原理,专业必修课程,考试,32,2.0
7,113,101048,陶文正,2,8,3,"181,182,183",180600027,Unix/Linux操作系统分析实验,专业选修课程,考查,16,0.5
8,114,101048,陶文正,2,8,3,"184,185,186",180600027,Unix/Linux操作系统分析实验,专业选修课程,考查,16,0.5
9,115,110007,陈文彬,2,16,3,"181,182,183",180600025,算法设计与分析,专业选修课程,考试,32,2.0
10,116,110009,杨柳,2,16,3,"184,185,186",180600025,算法设计与分析,专业选修课程,考试,32,2.0
11,117,110001,计机（外聘7）,2,16,3,"181,182,183",180610002,人工智能原理实验,专业必修课程,考查,32,1.0
12,118,204896,谭恒良,2,16,3,"184,185,186",180610002,人工智能原理实验,专业必修课程,考查,32,1.0
15,121,110005,杨朔,2,8,2,"181,182",180600081,机器学习与数据挖掘实验,专业必修课程,考查,16,0.5
16,122,110003,计机（外聘3）,2,8,2,"183,184",180600081,机器学习与数据挖掘实验,专业必修课程,考查,16,0.5
17,123,110004,计机（外聘4）,2,8,2,"185,186",180600081,机器学习与数据挖掘实验,专业必修课程,考查,16,0.5

In [41]:
cno = cno.reset_index(drop=True)
cno

,cno,tno,teacher_name,每周多少节,共多少周,同时上多少个班,班别,gno,gname,xingzhi,method,课时,学分
0,101,101048,陶文正,2,16,3,"181,182,183",180600026,Unix/Linux 操作系统分析,专业选修课程,考查,32,2.0
1,102,101048,陶文正,2,16,3,"184,185,186",180600026,Unix/Linux 操作系统分析,专业选修课程,考查,32,2.0
2,108,110002,庄育飞,2,16,3,"181,182,183",180600019,软件工程导论,专业选修课程,考试,32,2.0
3,109,110006,吴际,2,16,3,"184,185,186",180600019,软件工程导论,专业选修课程,考试,32,2.0
4,110,110008,吴昱,2,16,2,"181,182",180600017,编译原理,专业必修课程,考试,32,2.0
5,111,104087,唐卷,2,16,2,"183,184",180600017,编译原理,专业必修课程,考试,32,2.0
6,112,103168,冯元勇,2,16,2,"185,186",180600017,编译原理,专业必修课程,考试,32,2.0
7,113,101048,陶文正,2,8,3,"181,182,183",180600027,Unix/Linux操作系统分析实验,专业选修课程,考查,16,0.5
8,114,101048,陶文正,2,8,3,"184,185,186",180600027,Unix/Linux操作系统分析实验,专业选修课程,考查,16,0.5
9,115,110007,陈文彬,2,16,3,"181,182,183",180600025,算法设计与分析,专业选修课程,考试,32,2.0
10,116,110009,杨柳,2,16,3,"184,185,186",180600025,算法设计与分析,专业选修课程,考试,32,2.0
11,117,110001,计机（外聘7）,2,16,3,"181,182,183",180610002,人工智能原理实验,专业必修课程,考查,32,1.0
12,118,204896,谭恒良,2,16,3,"184,185,186",180610002,人工智能原理实验,专业必修课程,考查,32,1.0
13,121,110005,杨朔,2,8,2,"181,182",180600081,机器学习与数据挖掘实验,专业必修课程,考查,16,0.5
14,122,110003,计机（外聘3）,2,8,2,"183,184",180600081,机器学习与数据挖掘实验,专业必修课程,考查,16,0.5
15,123,110004,计机（外聘4）,2,8,2,"185,186",180600081,机器学习与数据挖掘实验,专业必修课程,考查,16,0.5

In [42]:
a181= [ 0 ,2,4,7,9,11,13]
a182= [ 0 ,2,4,7,9,11,13]
a183= [ 0 ,2,5,7,9,11,14]
a184= [ 1 ,3,5,8,10,12,14]
a185= [ 1 ,3,6,8,10,12,15]
a186= [ 1 ,3,6,8,10,12,15]

In [43]:
cno = cno['cno']
len(cno)
cno

0     101
1     102
2     108
3     109
4     110
5     111
6     112
7     113
8     114
9     115
10    116
11    117
12    118
13    121
14    122
15    123
Name: cno, dtype: int64

In [44]:
list(cno)
[101,102,108,109,110,111,112,113,114,115,116,117,118,121,122,123]

[101,
 102,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 121,
 122,
 123]

In [45]:
import random
class YIchuan(object):
    time = [1,2,3,4,5,7,8,9,10,11,12,13,14,15]
    course = np.array(cno)  # 课程数组
    course_name = np.array([])
    population_size = 100  # 种群大小，每个种群含有多少条基因
    cross_rate = 0.9  # 交叉率
    change_rate = 0.1  # 突变率
    population = np.array([])  # 种群数组
    fitness = np.array([])  # 适应度数组
    course_size = len(cno)  # 标记城市数目
    iter_num = 200  # 最大迭代次数
    best_distance = 1  # 记录目前最优方案
    best_gene = []  # 记录目前最优旅行方案
    all_best_distance = [] #记录每一代最优距离


    def __init__(self, cross_rate, change_rate, population_size, iter_num):
        self.fitness = np.zeros(self.population_size)
        self.cross_rate = cross_rate
        self.change_rate = change_rate
        self.population_size = population_size
        self.iter_num = iter_num
        self.course_size = len(cno)  # 标记城市数目
        self.all_best_distance = []

    def init(self):
        TSP = self
        #TSP.load_course_data()    # 加载城市数据
        TSP.population = TSP.creat_population(TSP.population_size)  # 创建种群
        #print(TSP.population)
        TSP.fitness = TSP.get_fitness(TSP.population)  # 计算初始种群适应度
        #print(TSP.fitness)
        


    def creat_population(self, size):
        """
        创建种群
        :param size:种群大小
        :return: 种群
        """
        population = [] # 存储种群生成的基因
        for i in range(size):
            right = 1
            gene =self.time +random.sample(self.time, self.course.shape[0] - len(self.time))
            
            np.random.shuffle(gene)  # 打乱数组[0，...，coursecity_size]
            
            j_course=[]
            s_course=[]
            while(right): 
                
                right = 0
                for j in range(len(gene)):
                    if gene[j] == 6:
                        right = 1
                        break
                    for k in range(len(gene)-j-1):
                        s = k+j+1
                        if(gene[j]==gene[s]):
                            if two_school_courses.iloc[j,:]['teacher_name'] == two_school_courses.iloc[s,:]['teacher_name']:
                                gene =self.time +random.sample(self.time, self.course.shape[0] - len(self.time)) 
                                np.random.shuffle(gene)  # 打乱数组[0，...，coursecity_size]
                                right = 1
                                
                            if two_school_courses.iloc[j,:]['班别'] == two_school_courses.iloc[s,:]['班别']:
                                gene =self.time +random.sample(self.time, self.course.shape[0] - len(self.time))
                                np.random.shuffle(gene)  # 打乱数组[0，...，coursecity_size]
                                right = 1
                                
                            j_course = two_school_courses.iloc[j,:]['班别'].split(',')
                            s_course = two_school_courses.iloc[s,:]['班别'].split(',')
                            
                            okk = [js for js in j_course if js in s_course]
                            if okk:
                                gene =self.time +random.sample(self.time, self.course.shape[0] - len(self.time)) 
                                np.random.shuffle(gene)  # 打乱数组[0，...，coursecity_size]
                                right = 1
                                
            population.append(gene)  # 加入种群
        return np.array(population)

    def get_fitness(self, population):
        """
        获得适应度
        :param population:种群
        :return: 种群每条基因对应的适应度
        """
        fitness = np.array([])  # 适应度记录数组
        for i in range(population.shape[0]):
            gene = population[i]  # 取其中一条基因（编码解，个体）
            dis = self.compute(gene)  # 计算此基因优劣（距离长短）
            dis = dis / self.best_distance   # 当前population[i]（个体）分数除以 当前最优分数；越近适应度越高，最优适应度为1
            fitness = np.append(fitness, dis)  # 保存适应度population[i]
        return fitness


    def select_population(self, population):
        """
        选择种群，优胜劣汰
        策略：低于平均的要替换
        :param population: 种群
        :return: 更改后的种群
        """
        best_index = np.argmax(self.fitness)
        ave = np.median(self.fitness, axis=0)
        for i in range(self.population_size):
            if i != best_index and self.fitness[i] < ave:
                gene = self.cross(population[best_index], population[i]) #交叉
                gene = self.change(gene) #变异
                right = 1
                while(right):  
                    right = 0
                    for jjj in range(len(gene)):
                        if gene[jjj] == 6:
                            print('cao')
                            right = 1
                            break
                        for kkk in range(len(gene)-jjj-1):
                            s = kkk+jjj+1
                            if(gene[jjj]==gene[s]):
                                if two_school_courses.iloc[jjj,:]['teacher_name'] == two_school_courses.iloc[s,:]['teacher_name']:
                                    gene = self.cross(population[best_index], population[i]) #交叉
                                    gene = self.change(gene) #变异
                                    right = 1
                                    
                                if two_school_courses.iloc[jjj,:]['班别'] == two_school_courses.iloc[s,:]['班别']:
                                    gene = self.cross(population[best_index], population[i]) #交叉
                                    gene = self.change(gene) #变异
                                    right = 1
                                    
                                j_course = two_school_courses.iloc[jjj,:]['班别'].split(',')
                                s_course = two_school_courses.iloc[s,:]['班别'].split(',')
                                okk = [js for js in j_course if js in s_course]
                                if okk: 
                                    gene = self.cross(population[best_index], population[i]) #交叉
                                    gene = self.change(gene) #变异
                                    right = 1
                                    
                population[i, :] = gene[:]

        return population


    def cross(self, parent1, parent2):
        """
        交叉
        :param parent1: 父亲
        :param parent2: 母亲
        :return: 儿子基因
        """
        if np.random.rand() > self.cross_rate:
            return parent1
        index1 = np.random.randint(0, self.course_size - 1)
        index2 = np.random.randint(index1, self.course_size - 1)
        tempgene = parent2[index1:index2]  # 交叉的基因片段
        parent1[index1:index2] = tempgene
        newGene = np.array(parent1)
        return newGene

    def reverse_gene(self, gene, i, j):
        """
        翻转i到j位置的基因
        :param gene: 基因
        :param i: 第i个位置
        :param j: 第j个位置
        :return: 翻转后的基因
        """
        if i >= j:
            return gene
        if j > self.course_size - 1:
            return gene
        parent1 = np.copy(gene)
        tempgene = list(parent1[i:j])
        tempgene.reverse()
        parent1[i:j] = np.array(tempgene)
        return np.array(parent1)

    def change(self, gene):
        """
        突变,主要使用翻转和突变某个位置的选课时间
        :param gene: 基因
        :return: 突变后的基因
        """
        if np.random.rand() > self.change_rate:
            return gene
        index1 = np.random.randint(0, self.course_size - 1)
        index2 = np.random.randint(index1, self.course_size - 1)
        new_gene = self.reverse_gene(gene, index1, index2)  #翻转
        if np.random.rand() > self.change_rate:
            return new_gene
        charu = random.sample(self.time , 1)[0]
        station = random.randint(0,self.course_size-1)
        new_gene[station] = charu
        new_gene = np.array(new_gene)
        return new_gene

    def evolution(self):
        """
        迭代进化种群
        :return: None
        """
        for i in range(self.iter_num):
            best_index = np.argmax(self.fitness)
            worst_f_index = np.argmin(self.fitness)
            local_best_genee = self.population[best_index]
            local_best_distance = self.compute(local_best_genee)
            if i == 0:  #第一代记录最优基因
                self.best_gene = local_best_genee
                self.best_distance = self.compute(local_best_genee)

            if local_best_distance > self.best_distance:
                self.best_distance = local_best_distance  # 记录最优值
                self.best_gene = local_best_genee  # 记录最个体基因
            else:
                self.population[worst_f_index] = self.best_gene  #替换掉最差的基因
            print('代数:%d 最优得分:%s' % (i, self.best_distance))
            self.all_best_distance.append(self.best_distance)

            self.population = self.select_population(self.population)  # 选择淘汰种群
            self.fitness = self.get_fitness(self.population)  # 计算种群适应度
            for j in range(self.population_size):
                k = np.random.randint(0, self.population_size - 1)
                if j != k:
                    gene = self.cross(self.population[j], self.population[k])  # 交叉种群中第j,k个体的基因
                    gene = self.change(gene)  # 突变种群中第j个体的基因
                    right = 1
                    while(right):  
                        right = 0
                        for jjj in range(len(gene)):
                            if gene[jjj] == 6:
                                print('caonima')
                                right = 1
                                break
                            for kkk in range(len(gene)-jjj-1):
                                s = kkk+jjj+1
                                if(gene[jjj]==gene[s]):
                                    if two_school_courses.iloc[jjj,:]['teacher_name'] == two_school_courses.iloc[s,:]['teacher_name']:
                                        gene = self.cross(self.population[j], self.population[k])  # 交叉种群中第j,k个体的基因
                                        gene = self.change(gene)  # 突变种群中第j个体的基因
                                        right = 1
                                        
                                    if two_school_courses.iloc[jjj,:]['班别'] == two_school_courses.iloc[s,:]['班别']:
                                        gene = self.cross(self.population[j], self.population[k])  # 交叉种群中第j,k个体的基因
                                        gene = self.change(gene)  # 突变种群中第j个体的基因
                                        right = 1
                                        
                                    j_course = two_school_courses.iloc[jjj,:]['班别'].split(',')
                                    s_course = two_school_courses.iloc[s,:]['班别'].split(',')
                                    okk = [js for js in j_course if js in s_course]
                                    if okk: 
                                        gene = self.cross(self.population[j], self.population[k])  # 交叉种群中第j,k个体的基因
                                        gene = self.change(gene)  # 突变种群中第j个体的基因
                                        right = 1
                                        
                    self.population[j] = gene

    def load_city_data(self, file='city.csv', delm=';',head = 10):
        # 加载实验数据
        data = pd.read_csv(file, delimiter=delm, header=None).values
        self.course = data[:head, 1:]
        self.course = data[:head, 0]
        self.city_size = data[:head].shape[0]



    def compute(self, gene):
        grade = {1: 0.88, 2:0.9 ,3: 0.85,4:0.88 ,5: 0.9,6: 0,7:0.88, 8:0.9, 9:0.85, 10:0.88,11:0.9,12:0.85,13:0.85,14:0.88,15:0.8}
        point1 = 0  #不同时间段不同得分权重,以全部9.0为满分权重
        for i in gene:
            point1 += grade[i]
        point1 = point1/(len(gene) *0.9)*100

        point2 = 0 
        # 计算所有课的方差，保证每个课在总课表上分布均匀
        ave_var = np.var(time)
        point2 = (1 - np.abs(np.var(gene) -ave_var) /ave_var) *100

        point3 = 0
        #同一个班别的课最好均匀分散在每一天,以方差最大为满分权重
        max_var = np.var([1,8,15])
        a181= [ 0 ,2,4,7,9,11,13]
        a182= [ 0 ,2,4,7,9,11,13]
        a183= [ 0 ,2,5,7,9,11,14]
        a184= [ 1 ,3,5,8,10,12,14]
        a185= [ 1 ,3,6,8,10,12,15]
        a186= [ 1 ,3,6,8,10,12,15]

        linshi =[]
        for i in a181:
            linshi.append(gene[i])
        point3 += np.var(linshi)
        linshi =[]
        for i in a182:
            linshi.append(gene[i])
        point3 += np.var(linshi)
        linshi =[]
        for i in a183:
            linshi.append(gene[i])
        point3 += np.var(linshi)
        linshi =[]
        for i in a184:
            linshi.append(gene[i])
        point3 += np.var(linshi)
        linshi =[]
        for i in a185:
            linshi.append(gene[i])
        point3 += np.var(linshi)
        linshi =[]
        for i in a186:
            linshi.append(gene[i])
        point3 += np.var(linshi)
        point3 = point3/(6*max_var) *100

        point = point1 + 0.8* point2 + 0.6* point3
        #print(point1,point2,point3)
        return point

    def draw_dis(selfs):
        
        #绘制最优选课曲线
        #:return: none
        print(selfs.all_best_distance)
        print(len(selfs.all_best_distance))
        x = [i for i in range(len(selfs.all_best_distance))]
        y = selfs.all_best_distance

        fig, ax = plt.subplots(figsize=(15, 10))
        font = FontProperties(fname=r"/System/Library/Fonts/STHeiti Medium.ttc", size=20)
        ax.plot(x, y, color='darkblue', linestyle='-')

        plt.xlabel("进化代数", FontProperties=font, size=30)  # X轴标签
        plt.ylabel("最优解变化", FontProperties=font, size=30)  # Y轴标签
        plt.title("遗传算法", FontProperties=font, size=30)
        plt.grid()
        plt.show()

In [54]:
time = [1,2,3,4,5,7,8,9,10,11,12,13,14,15]
TSP = YIchuan(0.4, 0.3, 20, 100)  # 交叉率、突变率、种群大小、进化代数
TSP.init()
TSP.evolution()
TSP.draw_dis()
print("最优课程安排为：")
print(TSP.best_gene)

代数:0 最优得分:211.1152932464093
代数:1 最优得分:211.1152932464093
代数:2 最优得分:211.1152932464093
代数:3 最优得分:211.1152932464093
代数:4 最优得分:211.1152932464093
代数:5 最优得分:211.1152932464093
代数:6 最优得分:211.1152932464093
代数:7 最优得分:212.39442068551367
代数:8 最优得分:212.39442068551367
代数:9 最优得分:212.39442068551367
代数:10 最优得分:212.39442068551367
代数:11 最优得分:212.39442068551367
代数:12 最优得分:212.39442068551367
代数:13 最优得分:212.39442068551367
代数:14 最优得分:212.39442068551367
代数:15 最优得分:212.39442068551367
代数:16 最优得分:212.39442068551367
代数:17 最优得分:212.39442068551367
代数:18 最优得分:212.39442068551367
代数:19 最优得分:213.4295180242976
代数:20 最优得分:213.4295180242976
代数:21 最优得分:213.4295180242976
代数:22 最优得分:213.4295180242976
代数:23 最优得分:213.4295180242976
代数:24 最优得分:213.4295180242976
代数:25 最优得分:213.4295180242976
代数:26 最优得分:213.4295180242976
代数:27 最优得分:213.4295180242976
代数:28 最优得分:213.4295180242976
代数:29 最优得分:213.4295180242976
代数:30 最优得分:213.4295180242976
代数:31 最优得分:213.4295180242976
代数:32 最优得分:213.4295180242976
代数:33 最优得分:213.4295180242976
代数:34 最优得分:213.4295180242976
代数:35 最优得分:213.4295180242976
代数:36 最优得分:213.4295180242976
代数:37 最优得分:213.4295180242976
代数:38 最优得分:213.4295180242976
代数:39 最优得分:213.4295180242976
代数:40 最优得分:213.4619389691304
代数:41 最优得分:213.4619389691304
代数:42 最优得分:213.4619389691304
代数:43 最优得分:213.4619389691304
代数:44 最优得分:213.4619389691304
代数:45 最优得分:213.4619389691304
代数:46 最优得分:213.4619389691304
代数:47 最优得分:213.4619389691304
代数:48 最优得分:213.57861115966602
代数:49 最优得分:214.7406269864049
代数:50 最优得分:214.7406269864049
代数:51 最优得分:215.44033544121538
代数:52 最优得分:215.44033544121538
代数:53 最优得分:215.44033544121538
代数:54 最优得分:215.44033544121538
代数:55 最优得分:215.44033544121538
代数:56 最优得分:215.44033544121538
代数:57 最优得分:215.44033544121538
代数:58 最优得分:215.44033544121538
代数:59 最优得分:215.44033544121538
代数:60 最优得分:215.44033544121538
代数:61 最优得分:215.44033544121538
代数:62 最优得分:215.44033544121538
代数:63 最优得分:215.44033544121538
代数:64 最优得分:215.44033544121538
代数:65 最优得分:215.44033544121538
代数:66 最优得分:215.44033544121538
代数:67 最优得分:215.44033544121538
代数:68 最优得分:215.44033544121538
代数:69 最优得分:215.44033544121538
代数:70 最优得分:215.44033544121538
代数:71 最优得分:215.44033544121538
代数:72 最优得分:215.44033544121538
代数:73 最优得分:215.44033544121538
代数:74 最优得分:215.44033544121538
代数:75 最优得分:215.44033544121538
代数:76 最优得分:215.44033544121538
代数:77 最优得分:215.44033544121538
代数:78 最优得分:215.44033544121538
代数:79 最优得分:215.44033544121538
代数:80 最优得分:215.44033544121538
代数:81 最优得分:215.44033544121538
代数:82 最优得分:215.44033544121538
代数:83 最优得分:215.44033544121538
代数:84 最优得分:215.44033544121538
代数:85 最优得分:215.44033544121538
代数:86 最优得分:215.44033544121538
代数:87 最优得分:215.44033544121538
代数:88 最优得分:215.44033544121538
代数:89 最优得分:215.44033544121538
代数:90 最优得分:215.44033544121538
代数:91 最优得分:215.44033544121538
代数:92 最优得分:215.79306049197027
代数:93 最优得分:215.79306049197027
代数:94 最优得分:215.79306049197027
代数:95 最优得分:215.79306049197027
代数:96 最优得分:215.79306049197027
代数:97 最优得分:215.79306049197027
代数:98 最优得分:215.79306049197027
代数:99 最优得分:216.0179667810165
[211.1152932464093, 211.1152932464093, 211.1152932464093, 211.1152932464093, 211.1152932464093, 211.1152932464093, 211.1152932464093, 212.39442068551367, 212.39442068551367, 212.39442068551367, 212.39442068551367, 212.39442068551367, 212.39442068551367, 212.39442068551367, 212.39442068551367, 212.39442068551367, 212.39442068551367, 212.39442068551367, 212.39442068551367, 213.4295180242976, 213.4295180242976, 213.4295180242976, 213.4295180242976, 213.4295180242976, 213.4295180242976, 213.4295180242976, 213.4295180242976, 213.4295180242976, 213.4295180242976, 213.4295180242976, 213.4295180242976, 213.4295180242976, 213.4295180242976, 213.4295180242976, 213.4295180242976, 213.4295180242976, 213.4295180242976, 213.4295180242976, 213.4295180242976, 213.4295180242976, 213.4619389691304, 213.4619389691304, 213.4619389691304, 213.4619389691304, 213.4619389691304, 213.4619389691304, 213.4619389691304, 213.4619389691304, 213.57861115966602, 214.7406269864049, 214.7406269864049, 215.44033544121538, 215.44033544121538, 215.44033544121538, 215.44033544121538, 215.44033544121538, 215.44033544121538, 215.44033544121538, 215.44033544121538, 215.44033544121538, 215.44033544121538, 215.44033544121538, 215.44033544121538, 215.44033544121538, 215.44033544121538, 215.44033544121538, 215.44033544121538, 215.44033544121538, 215.44033544121538, 215.44033544121538, 215.44033544121538, 215.44033544121538, 215.44033544121538, 215.44033544121538, 215.44033544121538, 215.44033544121538, 215.44033544121538, 215.44033544121538, 215.44033544121538, 215.44033544121538, 215.44033544121538, 215.44033544121538, 215.44033544121538, 215.44033544121538, 215.44033544121538, 215.44033544121538, 215.44033544121538, 215.44033544121538, 215.44033544121538, 215.44033544121538, 215.44033544121538, 215.44033544121538, 215.79306049197027, 215.79306049197027, 215.79306049197027, 215.79306049197027, 215.79306049197027, 215.79306049197027, 215.79306049197027, 216.0179667810165]
100

NameError: name 'plt' is not defined

In [ ]:
list(TSP.best_gene)   #11, 12,  11, 12 , 10, 10, 13, 10, 10, 13

In [46]:
#list(TSP.best_gene)
time = [15, 14, 7, 1, 9, 4, 4, 12, 2, 2, 11,    110, 120,  1100, 1200 , 100, 100, 130, 1000, 1000, 1300  ]
#time = [8, 4, 14, 3, 11, 2, 7, 5, 13, 12, 14, 20, 120, 70, 90, 20, 700, 900, 200,200, 1200,]
two_school_courses['time'] = time
course_time = {1:'1-16周/星期一/8:15~10:05',2:'1-16周/星期一/10:25~12:00',3:'1-16周/星期一/15:00~16:35',4:'1-16周/星期二/8:15~10:05',5:'1-16周/星期二/10:25~12:00',6:'1-16周/星期二/15:00~16:35',7:'1-16周/星期三/8:15~10:05',8:'1-16周/星期三/10:25~12:00',9:'1-16周/星期三/15:00~16:35',10:'1-16周/星期四/8:15~10:05',11:'1-16周/星期四/10:25~12:00',12:'1-16周/星期四/15:00~16:35',13:'1-16周/星期五/8:15~10:05',14:'1-16周/星期五/10:25~12:00',15:'1-16周/星期五/15:00~16:35',110:'1-8周/星期四/10:25~12:00', 120:'1-8周/星期四/15:00~16:35', 100:'1-8周/星期四/8:15~10:05', 130:'1-8周/星期五/8:15~10:05',1100:'9-16周/星期四/10:25~12:00', 1200:'9-16周/星期四/15:00~16:35', 1000:'9-16周/星期四/8:15~10:05', 1300:'9-16周/星期五/8:15~10:05'}
two_school_courses['course_time'] = two_school_courses['time'].map(course_time)
two_school_courses = two_school_courses.drop('time',axis=1)
night_course = ['1-16周/星期一/18:00~20:25','1-16周/星期二/18:00~20:25','1-16周/星期三/18:00~20:25','1-16周/星期四/18:00~20:25','1-16周/星期五/18:00~20:25']
three_school_courses['course_time'] = night_course
all_course = pd.concat([two_school_courses,three_school_courses]).reset_index(drop=True)
all_course

,cno,tno,teacher_name,每周多少节,共多少周,同时上多少个班,班别,gno,gname,xingzhi,method,课时,学分,course_time
0,101,101048,陶文正,2,16,3,"181,182,183",180600026,Unix/Linux 操作系统分析,专业选修课程,考查,32,2.0,1-16周/星期五/15:00~16:35
1,102,101048,陶文正,2,16,3,"184,185,186",180600026,Unix/Linux 操作系统分析,专业选修课程,考查,32,2.0,1-16周/星期五/10:25~12:00
2,108,110002,庄育飞,2,16,3,"181,182,183",180600019,软件工程导论,专业选修课程,考试,32,2.0,1-16周/星期三/8:15~10:05
3,109,110006,吴际,2,16,3,"184,185,186",180600019,软件工程导论,专业选修课程,考试,32,2.0,1-16周/星期一/8:15~10:05
4,110,110008,吴昱,2,16,2,"181,182",180600017,编译原理,专业必修课程,考试,32,2.0,1-16周/星期三/15:00~16:35
5,111,104087,唐卷,2,16,2,"183,184",180600017,编译原理,专业必修课程,考试,32,2.0,1-16周/星期二/8:15~10:05
6,112,103168,冯元勇,2,16,2,"185,186",180600017,编译原理,专业必修课程,考试,32,2.0,1-16周/星期二/8:15~10:05
7,113,101048,陶文正,2,8,3,"181,182,183",180600027,Unix/Linux操作系统分析实验,专业选修课程,考查,16,0.5,1-16周/星期四/15:00~16:35
8,114,101048,陶文正,2,8,3,"184,185,186",180600027,Unix/Linux操作系统分析实验,专业选修课程,考查,16,0.5,1-16周/星期一/10:25~12:00
9,115,110007,陈文彬,2,16,3,"181,182,183",180600025,算法设计与分析,专业选修课程,考试,32,2.0,1-16周/星期一/10:25~12:00
10,116,110009,杨柳,2,16,3,"184,185,186",180600025,算法设计与分析,专业选修课程,考试,32,2.0,1-16周/星期四/10:25~12:00
11,117,110001,计机（外聘7）,2,16,3,"181,182,183",180610002,人工智能原理实验,专业必修课程,考查,32,1.0,1-8周/星期四/10:25~12:00
12,118,204896,谭恒良,2,16,3,"184,185,186",180610002,人工智能原理实验,专业必修课程,考查,32,1.0,1-8周/星期四/15:00~16:35
13,119,110002,庄育飞,2,8,3,"181,182,183",180600020,软件工程导论实验,专业选修课程,考查,16,0.5,9-16周/星期四/10:25~12:00
14,120,110006,吴际,2,8,3,"184,185,186",180600020,软件工程导论实验,专业选修课程,考查,16,0.5,9-16周/星期四/15:00~16:35
15,121,110005,杨朔,2,8,2,"181,182",180600081,机器学习与数据挖掘实验,专业必修课程,考查,16,0.5,1-8周/星期四/8:15~10:05
16,122,110003,计机（外聘3）,2,8,2,"183,184",180600081,机器学习与数据挖掘实验,专业必修课程,考查,16,0.5,1-8周/星期四/8:15~10:05
17,123,110004,计机（外聘4）,2,8,2,"185,186",180600081,机器学习与数据挖掘实验,专业必修课程,考查,16,0.5,1-8周/星期五/8:15~10:05
18,124,103325,王健雄,2,8,2,"181,182",180600018,编译原理实验,专业必修课程,考查,16,0.5,9-16周/星期四/8:15~10:05
19,125,104087,唐卷,2,8,2,"183,184",180600018,编译原理实验,专业必修课程,考查,16,0.5,9-16周/星期四/8:15~10:05
20,126,103168,冯元勇,2,8,2,"185,186",180600018,编译原理实验,专业必修课程,考查,16,0.5,9-16周/星期五/8:15~10:05
21,103,110003,计机（外聘3）,3,16,2,"181,182",180600080,机器学习与数据挖掘,专业必修课程,考试,48,3.0,1-16周/星期一/18:00~20:25
22,104,110004,计机（外聘4）,3,16,2,"183,184",180600080,机器学习与数据挖掘,专业必修课程,考试,48,3.0,1-16周/星期二/18:00~20:25
23,105,110005,杨朔,3,16,2,"185,186",180600080,机器学习与数据挖掘,专业必修课程,考试,48,3.0,1-16周/星期三/18:00~20:25
24,106,110001,计机（外聘7）,3,16,3,"181,182,183",180610001,人工智能原理,专业必修课程,考试,48,3.0,1-16周/星期四/18:00~20:25
25,107,204896,谭恒良,3,16,3,"184,185,186",180610001,人工智能原理,专业必修课程,考试,48,3.0,1-16周/星期五/18:00~20:25

In [47]:
all_course

lous = []
for index,row in all_course.iterrows():
    result = row[8]
    lou = ""
    if result[-1] == '验':
        lou ='电子楼'
    elif np.random.randint(0, 2)==0:
        lou = '理科北'
    else:lou = '理科南'
    b = np.random.randint(1, 20)
    a = np.random.randint(1, 6)
    num = a * 100 + b
    lous.append(lou+str(num))

In [48]:
all_course['station'] = lous

In [49]:
for index,row in all_course.iterrows():
    print(f"INSERT INTO course VALUES({row[0]},'{row[8]}',{row[1]},{row[7]},'{row[13]}','{row[6]}','{row[14]}');")

INSERT INTO course VALUES(101,'Unix/Linux 操作系统分析',101048,180600026,'1-16周/星期五/15:00~16:35','181,182,183','理科南309');
INSERT INTO course VALUES(102,'Unix/Linux 操作系统分析',101048,180600026,'1-16周/星期五/10:25~12:00','184,185,186','理科南105');
INSERT INTO course VALUES(108,'软件工程导论',110002,180600019,'1-16周/星期三/8:15~10:05','181,182,183','理科北512');
INSERT INTO course VALUES(109,'软件工程导论',110006,180600019,'1-16周/星期一/8:15~10:05','184,185,186','理科南306');
INSERT INTO course VALUES(110,'编译原理',110008,180600017,'1-16周/星期三/15:00~16:35','181,182','理科南509');
INSERT INTO course VALUES(111,'编译原理',104087,180600017,'1-16周/星期二/8:15~10:05','183,184','理科北105');
INSERT INTO course VALUES(112,'编译原理',103168,180600017,'1-16周/星期二/8:15~10:05','185,186','理科南319');
INSERT INTO course VALUES(113,'Unix/Linux操作系统分析实验',101048,180600027,'1-16周/星期四/15:00~16:35','181,182,183','电子楼110');
INSERT INTO course VALUES(114,'Unix/Linux操作系统分析实验',101048,180600027,'1-16周/星期一/10:25~12:00','184,185,186','电子楼202');
INSERT INTO course VALUES(115,'算法设计与分析',110007,180600025,'1-16周/星期一/10:25~12:00','181,182,183','理科南312');
INSERT INTO course VALUES(116,'算法设计与分析',110009,180600025,'1-16周/星期四/10:25~12:00','184,185,186','理科北504');
INSERT INTO course VALUES(117,'人工智能原理实验',110001,180610002,'1-8周/星期四/10:25~12:00','181,182,183','电子楼312');
INSERT INTO course VALUES(118,'人工智能原理实验',204896,180610002,'1-8周/星期四/15:00~16:35','184,185,186','电子楼102');
INSERT INTO course VALUES(119,'软件工程导论实验',110002,180600020,'9-16周/星期四/10:25~12:00','181,182,183','电子楼510');
INSERT INTO course VALUES(120,'软件工程导论实验',110006,180600020,'9-16周/星期四/15:00~16:35','184,185,186','电子楼315');
INSERT INTO course VALUES(121,'机器学习与数据挖掘实验',110005,180600081,'1-8周/星期四/8:15~10:05','181,182','电子楼303');
INSERT INTO course VALUES(122,'机器学习与数据挖掘实验',110003,180600081,'1-8周/星期四/8:15~10:05','183,184','电子楼407');
INSERT INTO course VALUES(123,'机器学习与数据挖掘实验',110004,180600081,'1-8周/星期五/8:15~10:05','185,186','电子楼408');
INSERT INTO course VALUES(124,'编译原理实验',103325,180600018,'9-16周/星期四/8:15~10:05','181,182','电子楼308');
INSERT INTO course VALUES(125,'编译原理实验',104087,180600018,'9-16周/星期四/8:15~10:05','183,184','电子楼403');
INSERT INTO course VALUES(126,'编译原理实验',103168,180600018,'9-16周/星期五/8:15~10:05','185,186','电子楼112');
INSERT INTO course VALUES(103,'机器学习与数据挖掘',110003,180600080,'1-16周/星期一/18:00~20:25','181,182','理科南210');
INSERT INTO course VALUES(104,'机器学习与数据挖掘',110004,180600080,'1-16周/星期二/18:00~20:25','183,184','理科南305');
INSERT INTO course VALUES(105,'机器学习与数据挖掘',110005,180600080,'1-16周/星期三/18:00~20:25','185,186','理科南105');
INSERT INTO course VALUES(106,'人工智能原理',110001,180610001,'1-16周/星期四/18:00~20:25','181,182,183','理科北316');
INSERT INTO course VALUES(107,'人工智能原理',204896,180610001,'1-16周/星期五/18:00~20:25','184,185,186','理科北315');

In [50]:
for index,row in all_course.iterrows():
    for i in row[6].split(','):
        print(f"INSERT INTO class_course VALUES({row[0]},{i});")

INSERT INTO class_course VALUES(101,181);
INSERT INTO class_course VALUES(101,182);
INSERT INTO class_course VALUES(101,183);
INSERT INTO class_course VALUES(102,184);
INSERT INTO class_course VALUES(102,185);
INSERT INTO class_course VALUES(102,186);
INSERT INTO class_course VALUES(108,181);
INSERT INTO class_course VALUES(108,182);
INSERT INTO class_course VALUES(108,183);
INSERT INTO class_course VALUES(109,184);
INSERT INTO class_course VALUES(109,185);
INSERT INTO class_course VALUES(109,186);
INSERT INTO class_course VALUES(110,181);
INSERT INTO class_course VALUES(110,182);
INSERT INTO class_course VALUES(111,183);
INSERT INTO class_course VALUES(111,184);
INSERT INTO class_course VALUES(112,185);
INSERT INTO class_course VALUES(112,186);
INSERT INTO class_course VALUES(113,181);
INSERT INTO class_course VALUES(113,182);
INSERT INTO class_course VALUES(113,183);
INSERT INTO class_course VALUES(114,184);
INSERT INTO class_course VALUES(114,185);
INSERT INTO class_course VALUES(114,186);
INSERT INTO class_course VALUES(115,181);
INSERT INTO class_course VALUES(115,182);
INSERT INTO class_course VALUES(115,183);
INSERT INTO class_course VALUES(116,184);
INSERT INTO class_course VALUES(116,185);
INSERT INTO class_course VALUES(116,186);
INSERT INTO class_course VALUES(117,181);
INSERT INTO class_course VALUES(117,182);
INSERT INTO class_course VALUES(117,183);
INSERT INTO class_course VALUES(118,184);
INSERT INTO class_course VALUES(118,185);
INSERT INTO class_course VALUES(118,186);
INSERT INTO class_course VALUES(119,181);
INSERT INTO class_course VALUES(119,182);
INSERT INTO class_course VALUES(119,183);
INSERT INTO class_course VALUES(120,184);
INSERT INTO class_course VALUES(120,185);
INSERT INTO class_course VALUES(120,186);
INSERT INTO class_course VALUES(121,181);
INSERT INTO class_course VALUES(121,182);
INSERT INTO class_course VALUES(122,183);
INSERT INTO class_course VALUES(122,184);
INSERT INTO class_course VALUES(123,185);
INSERT INTO class_course VALUES(123,186);
INSERT INTO class_course VALUES(124,181);
INSERT INTO class_course VALUES(124,182);
INSERT INTO class_course VALUES(125,183);
INSERT INTO class_course VALUES(125,184);
INSERT INTO class_course VALUES(126,185);
INSERT INTO class_course VALUES(126,186);
INSERT INTO class_course VALUES(103,181);
INSERT INTO class_course VALUES(103,182);
INSERT INTO class_course VALUES(104,183);
INSERT INTO class_course VALUES(104,184);
INSERT INTO class_course VALUES(105,185);
INSERT INTO class_course VALUES(105,186);
INSERT INTO class_course VALUES(106,181);
INSERT INTO class_course VALUES(106,182);
INSERT INTO class_course VALUES(106,183);
INSERT INTO class_course VALUES(107,184);
INSERT INTO class_course VALUES(107,185);
INSERT INTO class_course VALUES(107,186);

In [51]:
#模拟插入一个学生
for index,row in all_course.iterrows():
    if row[9] =='专业必修课程' and '184' in row[6]:
        print(f"INSERT INTO score VALUES({1806100182},{row[0]},NULL);")

INSERT INTO score VALUES(1806100182,111,NULL);
INSERT INTO score VALUES(1806100182,118,NULL);
INSERT INTO score VALUES(1806100182,122,NULL);
INSERT INTO score VALUES(1806100182,125,NULL);
INSERT INTO score VALUES(1806100182,104,NULL);
INSERT INTO score VALUES(1806100182,107,NULL);

In [52]:

#模拟插入一个学生
for index,row in all_course.iterrows():
    if row[9] =='专业必修课程' and '184' in row[6]:
        print(f"INSERT INTO score VALUES({1806100182},{row[0]},NULL);")

INSERT INTO score VALUES(1806100182,111,NULL);
INSERT INTO score VALUES(1806100182,118,NULL);
INSERT INTO score VALUES(1806100182,122,NULL);
INSERT INTO score VALUES(1806100182,125,NULL);
INSERT INTO score VALUES(1806100182,104,NULL);
INSERT INTO score VALUES(1806100182,107,NULL);

In [53]:
b=np.random.randint(1, 20)
a=np.random.randint(1, 6)
num = a*100+b
num

519

In [54]:
np.random.randint(0, 2)

1

In [55]:
np.random.randint(50, 100)

94

In [56]:
for index,row in name181[5:].iterrows():
    print(f"INSERT INTO student VALUES({row[1]},'{row[2]}','{row[3]}',date('2018-09-01'),'计算机科学与技术','{row[1][5:]}',{row[4][2:]});")
for index,row in name182[5:].iterrows():
    print(f"INSERT INTO student VALUES({row[1]},'{row[2]}','{row[3]}',date('2018-09-01'),'计算机科学与技术','{row[1][5:]}',{row[4][2:]});")
for index,row in name183[5:].iterrows():
    print(f"INSERT INTO student VALUES({row[1]},'{row[2]}','{row[3]}',date('2018-09-01'),'计算机科学与技术','{row[1][5:]}',{row[4][2:]});")
for index,row in name184[5:].iterrows():
    print(f"INSERT INTO student VALUES({row[1]},'{row[2]}','{row[3]}',date('2018-09-01'),'计算机科学与技术','{row[1][5:]}',{row[4][2:]});")
for index,row in name185[5:].iterrows():
    print(f"INSERT INTO student VALUES({row[1]},'{row[2]}','{row[3]}',date('2018-09-01'),'计算机科学与技术','{row[1][5:]}',{row[4][2:]});")
for index,row in name186[5:].iterrows():
    print(f"INSERT INTO student VALUES({row[1]},'{row[2]}','{row[3]}',date('2018-09-01'),'计算机科学与技术','{row[1][5:]}',{row[4][2:]});")

INSERT INTO student VALUES(1806100191,'刘俊烨','男',date('2018-09-01'),'计算机科学与技术','00191',181);
INSERT INTO student VALUES(1806100192,'黄颂升','男',date('2018-09-01'),'计算机科学与技术','00192',181);
INSERT INTO student VALUES(1806100193,'钟志威','男',date('2018-09-01'),'计算机科学与技术','00193',181);
INSERT INTO student VALUES(1806100194,'吴铭杰','男',date('2018-09-01'),'计算机科学与技术','00194',181);
INSERT INTO student VALUES(1806100195,'葛文聪','男',date('2018-09-01'),'计算机科学与技术','00195',181);
INSERT INTO student VALUES(1806100203,'梁志炜','男',date('2018-09-01'),'计算机科学与技术','00203',181);
INSERT INTO student VALUES(1806100204,'黄景良','男',date('2018-09-01'),'计算机科学与技术','00204',181);
INSERT INTO student VALUES(1806100205,'梁宇','男',date('2018-09-01'),'计算机科学与技术','00205',181);
INSERT INTO student VALUES(1806100206,'黎鸿业','男',date('2018-09-01'),'计算机科学与技术','00206',181);
INSERT INTO student VALUES(1806100207,'叶海帆','男',date('2018-09-01'),'计算机科学与技术','00207',181);
INSERT INTO student VALUES(1806100208,'吴柏霖','男',date('2018-09-01'),'计算机科学与技术','00208',181);
INSERT INTO student VALUES(1806100209,'林艺华','男',date('2018-09-01'),'计算机科学与技术','00209',181);
INSERT INTO student VALUES(1806100210,'朱艾清','女',date('2018-09-01'),'计算机科学与技术','00210',181);
INSERT INTO student VALUES(1806100211,'梁文坤','男',date('2018-09-01'),'计算机科学与技术','00211',181);
INSERT INTO student VALUES(1806100212,'刘嘉盛','男',date('2018-09-01'),'计算机科学与技术','00212',181);
INSERT INTO student VALUES(1806100213,'杨碧芬','女',date('2018-09-01'),'计算机科学与技术','00213',181);
INSERT INTO student VALUES(1806100214,'吴泽源','男',date('2018-09-01'),'计算机科学与技术','00214',181);
INSERT INTO student VALUES(1806100215,'彭小英','女',date('2018-09-01'),'计算机科学与技术','00215',181);
INSERT INTO student VALUES(1806100216,'唐子豪','男',date('2018-09-01'),'计算机科学与技术','00216',181);
INSERT INTO student VALUES(1806100217,'邓月英','女',date('2018-09-01'),'计算机科学与技术','00217',181);
INSERT INTO student VALUES(1806100218,'张祖龙','男',date('2018-09-01'),'计算机科学与技术','00218',181);
INSERT INTO student VALUES(1806100219,'黄润源','男',date('2018-09-01'),'计算机科学与技术','00219',181);
INSERT INTO student VALUES(1806100222,'孔德岚','女',date('2018-09-01'),'计算机科学与技术','00222',181);
INSERT INTO student VALUES(1806100223,'梁德心','女',date('2018-09-01'),'计算机科学与技术','00223',181);
INSERT INTO student VALUES(1806100224,'关喜荣','男',date('2018-09-01'),'计算机科学与技术','00224',181);
INSERT INTO student VALUES(1806100225,'王业鸿','男',date('2018-09-01'),'计算机科学与技术','00225',181);
INSERT INTO student VALUES(1806100227,'王琪','女',date('2018-09-01'),'计算机科学与技术','00227',181);
INSERT INTO student VALUES(1806100228,'闫浩茂','男',date('2018-09-01'),'计算机科学与技术','00228',181);
INSERT INTO student VALUES(1806100230,'商德涵','男',date('2018-09-01'),'计算机科学与技术','00230',181);
INSERT INTO student VALUES(1806100231,'周强','男',date('2018-09-01'),'计算机科学与技术','00231',181);
INSERT INTO student VALUES(1806100232,'刘雨馨','女',date('2018-09-01'),'计算机科学与技术','00232',181);
INSERT INTO student VALUES(1806100233,'李朝均','男',date('2018-09-01'),'计算机科学与技术','00233',181);
INSERT INTO student VALUES(1806100234,'罗泽纪','男',date('2018-09-01'),'计算机科学与技术','00234',181);
INSERT INTO student VALUES(1806100235,'解淅茗','男',date('2018-09-01'),'计算机科学与技术','00235',181);
INSERT INTO student VALUES(1806100236,'陈开智','男',date('2018-09-01'),'计算机科学与技术','00236',181);
INSERT INTO student VALUES(1806100237,'张振涛','男',date('2018-09-01'),'计算机科学与技术','00237',181);
INSERT INTO student VALUES(1806100001,'胡宁豪','男',date('2018-09-01'),'计算机科学与技术','00001',182);
INSERT INTO student VALUES(1806100007,'朱焯贤','男',date('2018-09-01'),'计算机科学与技术','00007',182);
INSERT INTO student VALUES(1806100010,'钟小溪','男',date('2018-09-01'),'计算机科学与技术','00010',182);
INSERT INTO student VALUES(1806100017,'李沛岳','男',date('2018-09-01'),'计算机科学与技术','00017',182);
INSERT INTO student VALUES(1806100018,'钟永强','男',date('2018-09-01'),'计算机科学与技术','00018',182);
INSERT INTO student VALUES(1806100027,'麦子聪','男',date('2018-09-01'),'计算机科学与技术','00027',182);
INSERT INTO student VALUES(1806100028,'阮学轩','男',date('2018-09-01'),'计算机科学与技术','00028',182);
INSERT INTO student VALUES(1806100041,'张英','男',date('2018-09-01'),'计算机科学与技术','00041',182);
INSERT INTO student VALUES(1806100042,'钟其博','男',date('2018-09-01'),'计算机科学与技术','00042',182);
INSERT INTO student VALUES(1806100051,'陈泽敏','女',date('2018-09-01'),'计算机科学与技术','00051',182);
INSERT INTO student VALUES(1806100052,'张烨','男',date('2018-09-01'),'计算机科学与技术','00052',182);
INSERT INTO student VALUES(1806100064,'冯贺琳','男',date('2018-09-01'),'计算机科学与技术','00064',182);
INSERT INTO student VALUES(1806100067,'李冠昊','男',date('2018-09-01'),'计算机科学与技术','00067',182);
INSERT INTO student VALUES(1806100076,'林灿荣','男',date('2018-09-01'),'计算机科学与技术','00076',182);
INSERT INTO student VALUES(1806100079,'潘梓杰','男',date('2018-09-01'),'计算机科学与技术','00079',182);
INSERT INTO student VALUES(1806100081,'林良销','男',date('2018-09-01'),'计算机科学与技术','00081',182);
INSERT INTO student VALUES(1806100082,'李嘉玲','女',date('2018-09-01'),'计算机科学与技术','00082',182);
INSERT INTO student VALUES(1806100091,'冯镓棚','男',date('2018-09-01'),'计算机科学与技术','00091',182);
INSERT INTO student VALUES(1806100092,'黄裕康','男',date('2018-09-01'),'计算机科学与技术','00092',182);
INSERT INTO student VALUES(1806100095,'张志豪','男',date('2018-09-01'),'计算机科学与技术','00095',182);
INSERT INTO student VALUES(1806100099,'涂有磊','男',date('2018-09-01'),'计算机科学与技术','00099',182);
INSERT INTO student VALUES(1806100100,'温冠东','男',date('2018-09-01'),'计算机科学与技术','00100',182);
INSERT INTO student VALUES(1806100102,'廖润深','男',date('2018-09-01'),'计算机科学与技术','00102',182);
INSERT INTO student VALUES(1806100104,'莫广贤','男',date('2018-09-01'),'计算机科学与技术','00104',182);
INSERT INTO student VALUES(1806100105,'陈敏琪','女',date('2018-09-01'),'计算机科学与技术','00105',182);
INSERT INTO student VALUES(1806100107,'罗炳鑫','男',date('2018-09-01'),'计算机科学与技术','00107',182);
INSERT INTO student VALUES(1806100114,'林晓丹','女',date('2018-09-01'),'计算机科学与技术','00114',182);
INSERT INTO student VALUES(1806100123,'郑子添','男',date('2018-09-01'),'计算机科学与技术','00123',182);
INSERT INTO student VALUES(1806100124,'林泽亮','男',date('2018-09-01'),'计算机科学与技术','00124',182);
INSERT INTO student VALUES(1806100134,'李卓怡','女',date('2018-09-01'),'计算机科学与技术','00134',182);
INSERT INTO student VALUES(1806100151,'吴晓婷','女',date('2018-09-01'),'计算机科学与技术','00151',182);
INSERT INTO student VALUES(1806100152,'赖康','男',date('2018-09-01'),'计算机科学与技术','00152',182);
INSERT INTO student VALUES(1806100153,'黄智健','男',date('2018-09-01'),'计算机科学与技术','00153',182);
INSERT INTO student VALUES(1806100158,'方增煌','男',date('2018-09-01'),'计算机科学与技术','00158',182);
INSERT INTO student VALUES(1806100163,'朱振豪','男',date('2018-09-01'),'计算机科学与技术','00163',182);
INSERT INTO student VALUES(1806100164,'谢鹏翀','男',date('2018-09-01'),'计算机科学与技术','00164',182);
INSERT INTO student VALUES(1806100184,'王凯','男',date('2018-09-01'),'计算机科学与技术','00184',182);
INSERT INTO student VALUES(1806100185,'陈煜','男',date('2018-09-01'),'计算机科学与技术','00185',182);
INSERT INTO student VALUES(1806100187,'谭康兆','男',date('2018-09-01'),'计算机科学与技术','00187',182);
INSERT INTO student VALUES(1806100190,'伍家乐','男',date('2018-09-01'),'计算机科学与技术','00190',182);
INSERT INTO student VALUES(1806100221,'潘精森','男',date('2018-09-01'),'计算机科学与技术','00221',182);
INSERT INTO student VALUES(1806100002,'王智玮','男',date('2018-09-01'),'计算机科学与技术','00002',183);
INSERT INTO student VALUES(1806100006,'潘炜钊','男',date('2018-09-01'),'计算机科学与技术','00006',183);
INSERT INTO student VALUES(1806100008,'杨煜琦','男',date('2018-09-01'),'计算机科学与技术','00008',183);
INSERT INTO student VALUES(1806100016,'潘世良','男',date('2018-09-01'),'计算机科学与技术','00016',183);
INSERT INTO student VALUES(1806100019,'舒斌','男',date('2018-09-01'),'计算机科学与技术','00019',183);
INSERT INTO student VALUES(1806100026,'刘施展','男',date('2018-09-01'),'计算机科学与技术','00026',183);
INSERT INTO student VALUES(1806100029,'刘泫淇','男',date('2018-09-01'),'计算机科学与技术','00029',183);
INSERT INTO student VALUES(1806100033,'林淑欣','女',date('2018-09-01'),'计算机科学与技术','00033',183);
INSERT INTO student VALUES(1806100040,'黎扬宁','男',date('2018-09-01'),'计算机科学与技术','00040',183);
INSERT INTO student VALUES(1806100043,'吴均铭','男',date('2018-09-01'),'计算机科学与技术','00043',183);
INSERT INTO student VALUES(1806100050,'胡梦亭','女',date('2018-09-01'),'计算机科学与技术','00050',183);
INSERT INTO student VALUES(1806100053,'李晓华','男',date('2018-09-01'),'计算机科学与技术','00053',183);
INSERT INTO student VALUES(1806100065,'吴嘉霖','男',date('2018-09-01'),'计算机科学与技术','00065',183);
INSERT INTO student VALUES(1806100068,'全远建','男',date('2018-09-01'),'计算机科学与技术','00068',183);
INSERT INTO student VALUES(1806100075,'罗嘉彬','男',date('2018-09-01'),'计算机科学与技术','00075',183);
INSERT INTO student VALUES(1806100080,'刘子涛','男',date('2018-09-01'),'计算机科学与技术','00080',183);
INSERT INTO student VALUES(1806100083,'黄运转','男',date('2018-09-01'),'计算机科学与技术','00083',183);
INSERT INTO student VALUES(1806100090,'蒋为','男',date('2018-09-01'),'计算机科学与技术','00090',183);
INSERT INTO student VALUES(1806100093,'骆军林','男',date('2018-09-01'),'计算机科学与技术','00093',183);
INSERT INTO student VALUES(1806100096,'梁皓钧','男',date('2018-09-01'),'计算机科学与技术','00096',183);
INSERT INTO student VALUES(1806100103,'陈宏臻','男',date('2018-09-01'),'计算机科学与技术','00103',183);
INSERT INTO student VALUES(1806100106,'蔡广贤','男',date('2018-09-01'),'计算机科学与技术','00106',183);
INSERT INTO student VALUES(1806100112,'黄纪智','男',date('2018-09-01'),'计算机科学与技术','00112',183);
INSERT INTO student VALUES(1806100115,'范琦东','男',date('2018-09-01'),'计算机科学与技术','00115',183);
INSERT INTO student VALUES(1806100122,'康煜章','男',date('2018-09-01'),'计算机科学与技术','00122',183);
INSERT INTO student VALUES(1806100125,'陈湧锋','男',date('2018-09-01'),'计算机科学与技术','00125',183);
INSERT INTO student VALUES(1806100132,'龙华兴','男',date('2018-09-01'),'计算机科学与技术','00132',183);
INSERT INTO student VALUES(1806100135,'董子业','男',date('2018-09-01'),'计算机科学与技术','00135',183);
INSERT INTO student VALUES(1806100142,'何杨慧','女',date('2018-09-01'),'计算机科学与技术','00142',183);
INSERT INTO student VALUES(1806100145,'蔡灿东','男',date('2018-09-01'),'计算机科学与技术','00145',183);
INSERT INTO student VALUES(1806100155,'廖宇昊','男',date('2018-09-01'),'计算机科学与技术','00155',183);
INSERT INTO student VALUES(1806100160,'陈炳霖','男',date('2018-09-01'),'计算机科学与技术','00160',183);
INSERT INTO student VALUES(1806100162,'张健介','男',date('2018-09-01'),'计算机科学与技术','00162',183);
INSERT INTO student VALUES(1806100165,'黄沛琪','女',date('2018-09-01'),'计算机科学与技术','00165',183);
INSERT INTO student VALUES(1806100172,'朱恩民','男',date('2018-09-01'),'计算机科学与技术','00172',183);
INSERT INTO student VALUES(1806100183,'邝诗曼','女',date('2018-09-01'),'计算机科学与技术','00183',183);
INSERT INTO student VALUES(1806100186,'赵子林','男',date('2018-09-01'),'计算机科学与技术','00186',183);
INSERT INTO student VALUES(1806100196,'徐菲菲','女',date('2018-09-01'),'计算机科学与技术','00196',183);
INSERT INTO student VALUES(1806100220,'查真鹏','男',date('2018-09-01'),'计算机科学与技术','00220',183);
INSERT INTO student VALUES(1806100226,'白超同','男',date('2018-09-01'),'计算机科学与技术','00226',183);
INSERT INTO student VALUES(1806100229,'裴文达','男',date('2018-09-01'),'计算机科学与技术','00229',183);
INSERT INTO student VALUES(1806100004,'郑铮誉','男',date('2018-09-01'),'计算机科学与技术','00004',184);
INSERT INTO student VALUES(1806100009,'叶文迪','男',date('2018-09-01'),'计算机科学与技术','00009',184);
INSERT INTO student VALUES(1806100015,'陈虹桥','男',date('2018-09-01'),'计算机科学与技术','00015',184);
INSERT INTO student VALUES(1806100020,'钟正希','男',date('2018-09-01'),'计算机科学与技术','00020',184);
INSERT INTO student VALUES(1806100025,'陈炯彬','男',date('2018-09-01'),'计算机科学与技术','00025',184);
INSERT INTO student VALUES(1806100030,'李泔青','男',date('2018-09-01'),'计算机科学与技术','00030',184);
INSERT INTO student VALUES(1806100034,'余子弋','男',date('2018-09-01'),'计算机科学与技术','00034',184);
INSERT INTO student VALUES(1806100039,'甘嘉城','男',date('2018-09-01'),'计算机科学与技术','00039',184);
INSERT INTO student VALUES(1806100044,'程允良','男',date('2018-09-01'),'计算机科学与技术','00044',184);
INSERT INTO student VALUES(1806100048,'林星宇','男',date('2018-09-01'),'计算机科学与技术','00048',184);
INSERT INTO student VALUES(1806100049,'黄灏','男',date('2018-09-01'),'计算机科学与技术','00049',184);
INSERT INTO student VALUES(1806100054,'黄思杰','男',date('2018-09-01'),'计算机科学与技术','00054',184);
INSERT INTO student VALUES(1806100059,'潘劲','男',date('2018-09-01'),'计算机科学与技术','00059',184);
INSERT INTO student VALUES(1806100069,'文海天','男',date('2018-09-01'),'计算机科学与技术','00069',184);
INSERT INTO student VALUES(1806100074,'黄炜锋','男',date('2018-09-01'),'计算机科学与技术','00074',184);
INSERT INTO student VALUES(1806100077,'邓茹婷','女',date('2018-09-01'),'计算机科学与技术','00077',184);
INSERT INTO student VALUES(1806100084,'李泓文','男',date('2018-09-01'),'计算机科学与技术','00084',184);
INSERT INTO student VALUES(1806100089,'黄莹','女',date('2018-09-01'),'计算机科学与技术','00089',184);
INSERT INTO student VALUES(1806100094,'邓志超','男',date('2018-09-01'),'计算机科学与技术','00094',184);
INSERT INTO student VALUES(1806100097,'麦焕滨','男',date('2018-09-01'),'计算机科学与技术','00097',184);
INSERT INTO student VALUES(1806100110,'禤铭东','男',date('2018-09-01'),'计算机科学与技术','00110',184);
INSERT INTO student VALUES(1806100111,'凌子锐','男',date('2018-09-01'),'计算机科学与技术','00111',184);
INSERT INTO student VALUES(1806100116,'陈晶晶','女',date('2018-09-01'),'计算机科学与技术','00116',184);
INSERT INTO student VALUES(1806100121,'欧弘毅','男',date('2018-09-01'),'计算机科学与技术','00121',184);
INSERT INTO student VALUES(1806100126,'曾嘉晋','男',date('2018-09-01'),'计算机科学与技术','00126',184);
INSERT INTO student VALUES(1806100131,'彭家豪','男',date('2018-09-01'),'计算机科学与技术','00131',184);
INSERT INTO student VALUES(1806100133,'魏淑萍','女',date('2018-09-01'),'计算机科学与技术','00133',184);
INSERT INTO student VALUES(1806100136,'梁浩俊','男',date('2018-09-01'),'计算机科学与技术','00136',184);
INSERT INTO student VALUES(1806100141,'刘付伟顺','男',date('2018-09-01'),'计算机科学与技术','00141',184);
INSERT INTO student VALUES(1806100143,'洪育懋','女',date('2018-09-01'),'计算机科学与技术','00143',184);
INSERT INTO student VALUES(1806100146,'周星辉','男',date('2018-09-01'),'计算机科学与技术','00146',184);
INSERT INTO student VALUES(1806100159,'吴彬东','男',date('2018-09-01'),'计算机科学与技术','00159',184);
INSERT INTO student VALUES(1806100161,'陆文胜','男',date('2018-09-01'),'计算机科学与技术','00161',184);
INSERT INTO student VALUES(1806100166,'梁汉杰','男',date('2018-09-01'),'计算机科学与技术','00166',184);
INSERT INTO student VALUES(1806100171,'朱颖锋','男',date('2018-09-01'),'计算机科学与技术','00171',184);
INSERT INTO student VALUES(1806100178,'刘洋','男',date('2018-09-01'),'计算机科学与技术','00178',184);
INSERT INTO student VALUES(1806100182,'卢科达','男',date('2018-09-01'),'计算机科学与技术','00182',184);
INSERT INTO student VALUES(1806100189,'潘世喻','男',date('2018-09-01'),'计算机科学与技术','00189',184);
INSERT INTO student VALUES(1806100197,'钟季澄','男',date('2018-09-01'),'计算机科学与技术','00197',184);
INSERT INTO student VALUES(1806100202,'程炜斯','男',date('2018-09-01'),'计算机科学与技术','00202',184);
INSERT INTO student VALUES(1806100011,'黄明律','男',date('2018-09-01'),'计算机科学与技术','00011',185);
INSERT INTO student VALUES(1806100014,'赵善锋','男',date('2018-09-01'),'计算机科学与技术','00014',185);
INSERT INTO student VALUES(1806100021,'许汝超','男',date('2018-09-01'),'计算机科学与技术','00021',185);
INSERT INTO student VALUES(1806100024,'黄楠','男',date('2018-09-01'),'计算机科学与技术','00024',185);
INSERT INTO student VALUES(1806100031,'黄昊晟','男',date('2018-09-01'),'计算机科学与技术','00031',185);
INSERT INTO student VALUES(1806100035,'侯永炬','男',date('2018-09-01'),'计算机科学与技术','00035',185);
INSERT INTO student VALUES(1806100038,'钟权威','男',date('2018-09-01'),'计算机科学与技术','00038',185);
INSERT INTO student VALUES(1806100045,'陈云','男',date('2018-09-01'),'计算机科学与技术','00045',185);
INSERT INTO student VALUES(1806100055,'詹义森','男',date('2018-09-01'),'计算机科学与技术','00055',185);
INSERT INTO student VALUES(1806100058,'陈浩辉','男',date('2018-09-01'),'计算机科学与技术','00058',185);
INSERT INTO student VALUES(1806100060,'吴昕劢','男',date('2018-09-01'),'计算机科学与技术','00060',185);
INSERT INTO student VALUES(1806100063,'罗佳彬','男',date('2018-09-01'),'计算机科学与技术','00063',185);
INSERT INTO student VALUES(1806100066,'钟佩如','女',date('2018-09-01'),'计算机科学与技术','00066',185);
INSERT INTO student VALUES(1806100070,'黄禧龙','男',date('2018-09-01'),'计算机科学与技术','00070',185);
INSERT INTO student VALUES(1806100073,'邓丽姗','女',date('2018-09-01'),'计算机科学与技术','00073',185);
INSERT INTO student VALUES(1806100078,'杨嘉明','男',date('2018-09-01'),'计算机科学与技术','00078',185);
INSERT INTO student VALUES(1806100085,'覃浩','男',date('2018-09-01'),'计算机科学与技术','00085',185);
INSERT INTO student VALUES(1806100088,'甘婷婷','女',date('2018-09-01'),'计算机科学与技术','00088',185);
INSERT INTO student VALUES(1806100098,'梁耀武','男',date('2018-09-01'),'计算机科学与技术','00098',185);
INSERT INTO student VALUES(1806100101,'李松涛','男',date('2018-09-01'),'计算机科学与技术','00101',185);
INSERT INTO student VALUES(1806100108,'林少游','男',date('2018-09-01'),'计算机科学与技术','00108',185);
INSERT INTO student VALUES(1806100117,'殷进娣','女',date('2018-09-01'),'计算机科学与技术','00117',185);
INSERT INTO student VALUES(1806100120,'张东','男',date('2018-09-01'),'计算机科学与技术','00120',185);
INSERT INTO student VALUES(1806100127,'程日强','男',date('2018-09-01'),'计算机科学与技术','00127',185);
INSERT INTO student VALUES(1806100130,'陈金铅','男',date('2018-09-01'),'计算机科学与技术','00130',185);
INSERT INTO student VALUES(1806100137,'李文勇','男',date('2018-09-01'),'计算机科学与技术','00137',185);
INSERT INTO student VALUES(1806100140,'刘斐洋','男',date('2018-09-01'),'计算机科学与技术','00140',185);
INSERT INTO student VALUES(1806100147,'吴金豪','男',date('2018-09-01'),'计算机科学与技术','00147',185);
INSERT INTO student VALUES(1806100150,'练韬','男',date('2018-09-01'),'计算机科学与技术','00150',185);
INSERT INTO student VALUES(1806100154,'郭子良','男',date('2018-09-01'),'计算机科学与技术','00154',185);
INSERT INTO student VALUES(1806100167,'李粤鹏','男',date('2018-09-01'),'计算机科学与技术','00167',185);
INSERT INTO student VALUES(1806100170,'王富铭','男',date('2018-09-01'),'计算机科学与技术','00170',185);
INSERT INTO student VALUES(1806100173,'谢昌良','男',date('2018-09-01'),'计算机科学与技术','00173',185);
INSERT INTO student VALUES(1806100175,'黎自鸿','男',date('2018-09-01'),'计算机科学与技术','00175',185);
INSERT INTO student VALUES(1806100177,'陈东涛','男',date('2018-09-01'),'计算机科学与技术','00177',185);
INSERT INTO student VALUES(1806100181,'任星河','男',date('2018-09-01'),'计算机科学与技术','00181',185);
INSERT INTO student VALUES(1806100188,'邓艺文','男',date('2018-09-01'),'计算机科学与技术','00188',185);
INSERT INTO student VALUES(1806100198,'陈堉锐','男',date('2018-09-01'),'计算机科学与技术','00198',185);
INSERT INTO student VALUES(1806100201,'林嘉丽','女',date('2018-09-01'),'计算机科学与技术','00201',185);
INSERT INTO student VALUES(1806100005,'陈杨辉','男',date('2018-09-01'),'计算机科学与技术','00005',186);
INSERT INTO student VALUES(1806100012,'李嘉章','男',date('2018-09-01'),'计算机科学与技术','00012',186);
INSERT INTO student VALUES(1806100013,'吴倍亮','男',date('2018-09-01'),'计算机科学与技术','00013',186);
INSERT INTO student VALUES(1806100022,'林健龙','男',date('2018-09-01'),'计算机科学与技术','00022',186);
INSERT INTO student VALUES(1806100023,'欧阳豪','男',date('2018-09-01'),'计算机科学与技术','00023',186);
INSERT INTO student VALUES(1806100032,'单雨菲','女',date('2018-09-01'),'计算机科学与技术','00032',186);
INSERT INTO student VALUES(1806100036,'潘鑫','男',date('2018-09-01'),'计算机科学与技术','00036',186);
INSERT INTO student VALUES(1806100037,'吴世涛','男',date('2018-09-01'),'计算机科学与技术','00037',186);
INSERT INTO student VALUES(1806100046,'邱锦鸿','男',date('2018-09-01'),'计算机科学与技术','00046',186);
INSERT INTO student VALUES(1806100047,'倪秋元','男',date('2018-09-01'),'计算机科学与技术','00047',186);
INSERT INTO student VALUES(1806100056,'许统楠','男',date('2018-09-01'),'计算机科学与技术','00056',186);
INSERT INTO student VALUES(1806100057,'吴毓豪','男',date('2018-09-01'),'计算机科学与技术','00057',186);
INSERT INTO student VALUES(1806100061,'王嘉成','男',date('2018-09-01'),'计算机科学与技术','00061',186);
INSERT INTO student VALUES(1806100062,'张健明','男',date('2018-09-01'),'计算机科学与技术','00062',186);
INSERT INTO student VALUES(1806100071,'朱华昌','男',date('2018-09-01'),'计算机科学与技术','00071',186);
INSERT INTO student VALUES(1806100072,'王添','男',date('2018-09-01'),'计算机科学与技术','00072',186);
INSERT INTO student VALUES(1806100086,'高智健','男',date('2018-09-01'),'计算机科学与技术','00086',186);
INSERT INTO student VALUES(1806100087,'彭少淇','女',date('2018-09-01'),'计算机科学与技术','00087',186);
INSERT INTO student VALUES(1806100109,'陈栢锐','男',date('2018-09-01'),'计算机科学与技术','00109',186);
INSERT INTO student VALUES(1806100113,'彭胡杨','女',date('2018-09-01'),'计算机科学与技术','00113',186);

In [57]:
for index,row in all_course.iterrows():
    if row[9] =='专业必修课程' and '181' in row[6]:
        for index,rowst in name181[5:].iterrows():
            num = np.random.randint(50, 100)
            print(f"INSERT INTO score VALUES({rowst[1]},{row[0]},{num});")
for index,row in all_course.iterrows():
    if row[9] =='专业必修课程' and '182' in row[6]:
        for index,rowst in name182[5:].iterrows():
            num = np.random.randint(50, 100)
            print(f"INSERT INTO score VALUES({rowst[1]},{row[0]},{num});")
for index,row in all_course.iterrows():
    if row[9] =='专业必修课程' and '183' in row[6]:
        for index,rowst in name183[5:].iterrows():
            num = np.random.randint(50, 100)
            print(f"INSERT INTO score VALUES({rowst[1]},{row[0]},{num});")
for index,row in all_course.iterrows():
    if row[9] =='专业必修课程' and '184' in row[6]:
        for index,rowst in name184[5:].iterrows():
            num = np.random.randint(50, 100)
            print(f"INSERT INTO score VALUES({rowst[1]},{row[0]},{num});")
for index,row in all_course.iterrows():
    if row[9] =='专业必修课程' and '185' in row[6]:
        for index,rowst in name185[5:].iterrows():
            num = np.random.randint(50, 100)
            print(f"INSERT INTO score VALUES({rowst[1]},{row[0]},{num});")
for index,row in all_course.iterrows():
    if row[9] =='专业必修课程' and '186' in row[6]:
        for index,rowst in name186[5:].iterrows():
            num = np.random.randint(50, 100)
            print(f"INSERT INTO score VALUES({rowst[1]},{row[0]},{num});")

INSERT INTO score VALUES(1806100191,110,68);
INSERT INTO score VALUES(1806100192,110,85);
INSERT INTO score VALUES(1806100193,110,73);
INSERT INTO score VALUES(1806100194,110,96);
INSERT INTO score VALUES(1806100195,110,82);
INSERT INTO score VALUES(1806100203,110,82);
INSERT INTO score VALUES(1806100204,110,64);
INSERT INTO score VALUES(1806100205,110,70);
INSERT INTO score VALUES(1806100206,110,88);
INSERT INTO score VALUES(1806100207,110,91);
INSERT INTO score VALUES(1806100208,110,95);
INSERT INTO score VALUES(1806100209,110,74);
INSERT INTO score VALUES(1806100210,110,88);
INSERT INTO score VALUES(1806100211,110,77);
INSERT INTO score VALUES(1806100212,110,91);
INSERT INTO score VALUES(1806100213,110,76);
INSERT INTO score VALUES(1806100214,110,92);
INSERT INTO score VALUES(1806100215,110,77);
INSERT INTO score VALUES(1806100216,110,55);
INSERT INTO score VALUES(1806100217,110,64);
INSERT INTO score VALUES(1806100218,110,81);
INSERT INTO score VALUES(1806100219,110,92);
INSERT INTO score VALUES(1806100222,110,81);
INSERT INTO score VALUES(1806100223,110,98);
INSERT INTO score VALUES(1806100224,110,62);
INSERT INTO score VALUES(1806100225,110,92);
INSERT INTO score VALUES(1806100227,110,78);
INSERT INTO score VALUES(1806100228,110,72);
INSERT INTO score VALUES(1806100230,110,56);
INSERT INTO score VALUES(1806100231,110,98);
INSERT INTO score VALUES(1806100232,110,80);
INSERT INTO score VALUES(1806100233,110,90);
INSERT INTO score VALUES(1806100234,110,65);
INSERT INTO score VALUES(1806100235,110,92);
INSERT INTO score VALUES(1806100236,110,78);
INSERT INTO score VALUES(1806100237,110,69);
INSERT INTO score VALUES(1806100191,117,97);
INSERT INTO score VALUES(1806100192,117,89);
INSERT INTO score VALUES(1806100193,117,93);
INSERT INTO score VALUES(1806100194,117,73);
INSERT INTO score VALUES(1806100195,117,61);
INSERT INTO score VALUES(1806100203,117,91);
INSERT INTO score VALUES(1806100204,117,79);
INSERT INTO score VALUES(1806100205,117,81);
INSERT INTO score VALUES(1806100206,117,73);
INSERT INTO score VALUES(1806100207,117,92);
INSERT INTO score VALUES(1806100208,117,86);
INSERT INTO score VALUES(1806100209,117,72);
INSERT INTO score VALUES(1806100210,117,98);
INSERT INTO score VALUES(1806100211,117,89);
INSERT INTO score VALUES(1806100212,117,73);
INSERT INTO score VALUES(1806100213,117,51);
INSERT INTO score VALUES(1806100214,117,92);
INSERT INTO score VALUES(1806100215,117,91);
INSERT INTO score VALUES(1806100216,117,98);
INSERT INTO score VALUES(1806100217,117,54);
INSERT INTO score VALUES(1806100218,117,99);
INSERT INTO score VALUES(1806100219,117,71);
INSERT INTO score VALUES(1806100222,117,99);
INSERT INTO score VALUES(1806100223,117,69);
INSERT INTO score VALUES(1806100224,117,71);
INSERT INTO score VALUES(1806100225,117,95);
INSERT INTO score VALUES(1806100227,117,64);
INSERT INTO score VALUES(1806100228,117,99);
INSERT INTO score VALUES(1806100230,117,96);
INSERT INTO score VALUES(1806100231,117,73);
INSERT INTO score VALUES(1806100232,117,82);
INSERT INTO score VALUES(1806100233,117,64);
INSERT INTO score VALUES(1806100234,117,86);
INSERT INTO score VALUES(1806100235,117,69);
INSERT INTO score VALUES(1806100236,117,79);
INSERT INTO score VALUES(1806100237,117,59);
INSERT INTO score VALUES(1806100191,121,95);
INSERT INTO score VALUES(1806100192,121,88);
INSERT INTO score VALUES(1806100193,121,53);
INSERT INTO score VALUES(1806100194,121,64);
INSERT INTO score VALUES(1806100195,121,80);
INSERT INTO score VALUES(1806100203,121,82);
INSERT INTO score VALUES(1806100204,121,98);
INSERT INTO score VALUES(1806100205,121,67);
INSERT INTO score VALUES(1806100206,121,67);
INSERT INTO score VALUES(1806100207,121,78);
INSERT INTO score VALUES(1806100208,121,60);
INSERT INTO score VALUES(1806100209,121,51);
INSERT INTO score VALUES(1806100210,121,99);
INSERT INTO score VALUES(1806100211,121,83);
INSERT INTO score VALUES(1806100212,121,91);
INSERT INTO score VALUES(1806100213,121,65);
INSERT INTO score VALUES(1806100214,121,95);
INSERT INTO score VALUES(1806100215,121,87);
INSERT INTO score VALUES(1806100216,121,50);
INSERT INTO score VALUES(1806100217,121,65);
INSERT INTO score VALUES(1806100218,121,58);
INSERT INTO score VALUES(1806100219,121,99);
INSERT INTO score VALUES(1806100222,121,82);
INSERT INTO score VALUES(1806100223,121,99);
INSERT INTO score VALUES(1806100224,121,50);
INSERT INTO score VALUES(1806100225,121,71);
INSERT INTO score VALUES(1806100227,121,56);
INSERT INTO score VALUES(1806100228,121,98);
INSERT INTO score VALUES(1806100230,121,66);
INSERT INTO score VALUES(1806100231,121,79);
INSERT INTO score VALUES(1806100232,121,87);
INSERT INTO score VALUES(1806100233,121,67);
INSERT INTO score VALUES(1806100234,121,69);
INSERT INTO score VALUES(1806100235,121,91);
INSERT INTO score VALUES(1806100236,121,99);
INSERT INTO score VALUES(1806100237,121,64);
INSERT INTO score VALUES(1806100191,124,54);
INSERT INTO score VALUES(1806100192,124,82);
INSERT INTO score VALUES(1806100193,124,53);
INSERT INTO score VALUES(1806100194,124,62);
INSERT INTO score VALUES(1806100195,124,87);
INSERT INTO score VALUES(1806100203,124,59);
INSERT INTO score VALUES(1806100204,124,81);
INSERT INTO score VALUES(1806100205,124,73);
INSERT INTO score VALUES(1806100206,124,67);
INSERT INTO score VALUES(1806100207,124,69);
INSERT INTO score VALUES(1806100208,124,54);
INSERT INTO score VALUES(1806100209,124,97);
INSERT INTO score VALUES(1806100210,124,57);
INSERT INTO score VALUES(1806100211,124,92);
INSERT INTO score VALUES(1806100212,124,65);
INSERT INTO score VALUES(1806100213,124,50);
INSERT INTO score VALUES(1806100214,124,78);
INSERT INTO score VALUES(1806100215,124,52);
INSERT INTO score VALUES(1806100216,124,54);
INSERT INTO score VALUES(1806100217,124,59);
INSERT INTO score VALUES(1806100218,124,72);
INSERT INTO score VALUES(1806100219,124,78);
INSERT INTO score VALUES(1806100222,124,61);
INSERT INTO score VALUES(1806100223,124,63);
INSERT INTO score VALUES(1806100224,124,84);
INSERT INTO score VALUES(1806100225,124,80);
INSERT INTO score VALUES(1806100227,124,68);
INSERT INTO score VALUES(1806100228,124,78);
INSERT INTO score VALUES(1806100230,124,59);
INSERT INTO score VALUES(1806100231,124,62);
INSERT INTO score VALUES(1806100232,124,78);
INSERT INTO score VALUES(1806100233,124,70);
INSERT INTO score VALUES(1806100234,124,66);
INSERT INTO score VALUES(1806100235,124,63);
INSERT INTO score VALUES(1806100236,124,97);
INSERT INTO score VALUES(1806100237,124,66);
INSERT INTO score VALUES(1806100191,103,99);
INSERT INTO score VALUES(1806100192,103,92);
INSERT INTO score VALUES(1806100193,103,98);
INSERT INTO score VALUES(1806100194,103,95);
INSERT INTO score VALUES(1806100195,103,53);
INSERT INTO score VALUES(1806100203,103,96);
INSERT INTO score VALUES(1806100204,103,82);
INSERT INTO score VALUES(1806100205,103,79);
INSERT INTO score VALUES(1806100206,103,97);
INSERT INTO score VALUES(1806100207,103,57);
INSERT INTO score VALUES(1806100208,103,54);
INSERT INTO score VALUES(1806100209,103,55);
INSERT INTO score VALUES(1806100210,103,86);
INSERT INTO score VALUES(1806100211,103,75);
INSERT INTO score VALUES(1806100212,103,95);
INSERT INTO score VALUES(1806100213,103,90);
INSERT INTO score VALUES(1806100214,103,61);
INSERT INTO score VALUES(1806100215,103,96);
INSERT INTO score VALUES(1806100216,103,82);
INSERT INTO score VALUES(1806100217,103,73);
INSERT INTO score VALUES(1806100218,103,75);
INSERT INTO score VALUES(1806100219,103,88);
INSERT INTO score VALUES(1806100222,103,86);
INSERT INTO score VALUES(1806100223,103,58);
INSERT INTO score VALUES(1806100224,103,99);
INSERT INTO score VALUES(1806100225,103,51);
INSERT INTO score VALUES(1806100227,103,53);
INSERT INTO score VALUES(1806100228,103,58);
INSERT INTO score VALUES(1806100230,103,52);
INSERT INTO score VALUES(1806100231,103,67);
INSERT INTO score VALUES(1806100232,103,98);
INSERT INTO score VALUES(1806100233,103,97);
INSERT INTO score VALUES(1806100234,103,70);
INSERT INTO score VALUES(1806100235,103,81);
INSERT INTO score VALUES(1806100236,103,61);
INSERT INTO score VALUES(1806100237,103,61);
INSERT INTO score VALUES(1806100191,106,94);
INSERT INTO score VALUES(1806100192,106,79);
INSERT INTO score VALUES(1806100193,106,78);
INSERT INTO score VALUES(1806100194,106,90);
INSERT INTO score VALUES(1806100195,106,69);
INSERT INTO score VALUES(1806100203,106,83);
INSERT INTO score VALUES(1806100204,106,66);
INSERT INTO score VALUES(1806100205,106,95);
INSERT INTO score VALUES(1806100206,106,54);
INSERT INTO score VALUES(1806100207,106,89);
INSERT INTO score VALUES(1806100208,106,99);
INSERT INTO score VALUES(1806100209,106,96);
INSERT INTO score VALUES(1806100210,106,63);
INSERT INTO score VALUES(1806100211,106,73);
INSERT INTO score VALUES(1806100212,106,95);
INSERT INTO score VALUES(1806100213,106,63);
INSERT INTO score VALUES(1806100214,106,57);
INSERT INTO score VALUES(1806100215,106,55);
INSERT INTO score VALUES(1806100216,106,50);
INSERT INTO score VALUES(1806100217,106,61);
INSERT INTO score VALUES(1806100218,106,77);
INSERT INTO score VALUES(1806100219,106,94);
INSERT INTO score VALUES(1806100222,106,89);
INSERT INTO score VALUES(1806100223,106,94);
INSERT INTO score VALUES(1806100224,106,76);
INSERT INTO score VALUES(1806100225,106,89);
INSERT INTO score VALUES(1806100227,106,56);
INSERT INTO score VALUES(1806100228,106,69);
INSERT INTO score VALUES(1806100230,106,87);
INSERT INTO score VALUES(1806100231,106,69);
INSERT INTO score VALUES(1806100232,106,89);
INSERT INTO score VALUES(1806100233,106,63);
INSERT INTO score VALUES(1806100234,106,69);
INSERT INTO score VALUES(1806100235,106,96);
INSERT INTO score VALUES(1806100236,106,98);
INSERT INTO score VALUES(1806100237,106,93);
INSERT INTO score VALUES(1806100001,110,68);
INSERT INTO score VALUES(1806100007,110,70);
INSERT INTO score VALUES(1806100010,110,61);
INSERT INTO score VALUES(1806100017,110,93);
INSERT INTO score VALUES(1806100018,110,85);
INSERT INTO score VALUES(1806100027,110,82);
INSERT INTO score VALUES(1806100028,110,58);
INSERT INTO score VALUES(1806100041,110,83);
INSERT INTO score VALUES(1806100042,110,90);
INSERT INTO score VALUES(1806100051,110,55);
INSERT INTO score VALUES(1806100052,110,78);
INSERT INTO score VALUES(1806100064,110,89);
INSERT INTO score VALUES(1806100067,110,55);
INSERT INTO score VALUES(1806100076,110,90);
INSERT INTO score VALUES(1806100079,110,78);
INSERT INTO score VALUES(1806100081,110,64);
INSERT INTO score VALUES(1806100082,110,81);
INSERT INTO score VALUES(1806100091,110,67);
INSERT INTO score VALUES(1806100092,110,70);
INSERT INTO score VALUES(1806100095,110,54);
INSERT INTO score VALUES(1806100099,110,59);
INSERT INTO score VALUES(1806100100,110,58);
INSERT INTO score VALUES(1806100102,110,59);
INSERT INTO score VALUES(1806100104,110,78);
INSERT INTO score VALUES(1806100105,110,62);
INSERT INTO score VALUES(1806100107,110,95);
INSERT INTO score VALUES(1806100114,110,85);
INSERT INTO score VALUES(1806100123,110,66);
INSERT INTO score VALUES(1806100124,110,62);
INSERT INTO score VALUES(1806100134,110,81);
INSERT INTO score VALUES(1806100151,110,89);
INSERT INTO score VALUES(1806100152,110,50);
INSERT INTO score VALUES(1806100153,110,77);
INSERT INTO score VALUES(1806100158,110,78);
INSERT INTO score VALUES(1806100163,110,59);
INSERT INTO score VALUES(1806100164,110,59);
INSERT INTO score VALUES(1806100184,110,54);
INSERT INTO score VALUES(1806100185,110,80);
INSERT INTO score VALUES(1806100187,110,83);
INSERT INTO score VALUES(1806100190,110,97);
INSERT INTO score VALUES(1806100221,110,88);
INSERT INTO score VALUES(1806100001,117,83);
INSERT INTO score VALUES(1806100007,117,61);
INSERT INTO score VALUES(1806100010,117,98);
INSERT INTO score VALUES(1806100017,117,90);
INSERT INTO score VALUES(1806100018,117,84);
INSERT INTO score VALUES(1806100027,117,70);
INSERT INTO score VALUES(1806100028,117,67);
INSERT INTO score VALUES(1806100041,117,82);
INSERT INTO score VALUES(1806100042,117,50);
INSERT INTO score VALUES(1806100051,117,70);
INSERT INTO score VALUES(1806100052,117,85);
INSERT INTO score VALUES(1806100064,117,83);
INSERT INTO score VALUES(1806100067,117,60);
INSERT INTO score VALUES(1806100076,117,99);
INSERT INTO score VALUES(1806100079,117,93);
INSERT INTO score VALUES(1806100081,117,74);
INSERT INTO score VALUES(1806100082,117,59);
INSERT INTO score VALUES(1806100091,117,78);
INSERT INTO score VALUES(1806100092,117,79);
INSERT INTO score VALUES(1806100095,117,75);
INSERT INTO score VALUES(1806100099,117,80);
INSERT INTO score VALUES(1806100100,117,74);
INSERT INTO score VALUES(1806100102,117,62);
INSERT INTO score VALUES(1806100104,117,79);
INSERT INTO score VALUES(1806100105,117,95);
INSERT INTO score VALUES(1806100107,117,67);
INSERT INTO score VALUES(1806100114,117,56);
INSERT INTO score VALUES(1806100123,117,89);
INSERT INTO score VALUES(1806100124,117,88);
INSERT INTO score VALUES(1806100134,117,57);
INSERT INTO score VALUES(1806100151,117,76);
INSERT INTO score VALUES(1806100152,117,82);
INSERT INTO score VALUES(1806100153,117,62);
INSERT INTO score VALUES(1806100158,117,67);
INSERT INTO score VALUES(1806100163,117,71);
INSERT INTO score VALUES(1806100164,117,55);
INSERT INTO score VALUES(1806100184,117,56);
INSERT INTO score VALUES(1806100185,117,79);
INSERT INTO score VALUES(1806100187,117,71);
INSERT INTO score VALUES(1806100190,117,69);
INSERT INTO score VALUES(1806100221,117,56);
INSERT INTO score VALUES(1806100001,121,53);
INSERT INTO score VALUES(1806100007,121,87);
INSERT INTO score VALUES(1806100010,121,54);
INSERT INTO score VALUES(1806100017,121,92);
INSERT INTO score VALUES(1806100018,121,91);
INSERT INTO score VALUES(1806100027,121,80);
INSERT INTO score VALUES(1806100028,121,85);
INSERT INTO score VALUES(1806100041,121,98);
INSERT INTO score VALUES(1806100042,121,74);
INSERT INTO score VALUES(1806100051,121,61);
INSERT INTO score VALUES(1806100052,121,91);
INSERT INTO score VALUES(1806100064,121,66);
INSERT INTO score VALUES(1806100067,121,51);
INSERT INTO score VALUES(1806100076,121,85);
INSERT INTO score VALUES(1806100079,121,97);
INSERT INTO score VALUES(1806100081,121,78);
INSERT INTO score VALUES(1806100082,121,72);
INSERT INTO score VALUES(1806100091,121,66);
INSERT INTO score VALUES(1806100092,121,65);
INSERT INTO score VALUES(1806100095,121,66);
INSERT INTO score VALUES(1806100099,121,82);
INSERT INTO score VALUES(1806100100,121,91);
INSERT INTO score VALUES(1806100102,121,92);
INSERT INTO score VALUES(1806100104,121,79);
INSERT INTO score VALUES(1806100105,121,67);
INSERT INTO score VALUES(1806100107,121,77);
INSERT INTO score VALUES(1806100114,121,65);
INSERT INTO score VALUES(1806100123,121,95);
INSERT INTO score VALUES(1806100124,121,99);
INSERT INTO score VALUES(1806100134,121,72);
INSERT INTO score VALUES(1806100151,121,90);
INSERT INTO score VALUES(1806100152,121,92);
INSERT INTO score VALUES(1806100153,121,74);
INSERT INTO score VALUES(1806100158,121,58);
INSERT INTO score VALUES(1806100163,121,77);
INSERT INTO score VALUES(1806100164,121,51);
INSERT INTO score VALUES(1806100184,121,94);
INSERT INTO score VALUES(1806100185,121,79);
INSERT INTO score VALUES(1806100187,121,79);
INSERT INTO score VALUES(1806100190,121,86);
INSERT INTO score VALUES(1806100221,121,64);
INSERT INTO score VALUES(1806100001,124,54);
INSERT INTO score VALUES(1806100007,124,73);
INSERT INTO score VALUES(1806100010,124,61);
INSERT INTO score VALUES(1806100017,124,69);
INSERT INTO score VALUES(1806100018,124,51);
INSERT INTO score VALUES(1806100027,124,70);
INSERT INTO score VALUES(1806100028,124,93);
INSERT INTO score VALUES(1806100041,124,58);
INSERT INTO score VALUES(1806100042,124,58);
INSERT INTO score VALUES(1806100051,124,74);
INSERT INTO score VALUES(1806100052,124,77);
INSERT INTO score VALUES(1806100064,124,73);
INSERT INTO score VALUES(1806100067,124,90);
INSERT INTO score VALUES(1806100076,124,51);
INSERT INTO score VALUES(1806100079,124,51);
INSERT INTO score VALUES(1806100081,124,99);
INSERT INTO score VALUES(1806100082,124,61);
INSERT INTO score VALUES(1806100091,124,74);
INSERT INTO score VALUES(1806100092,124,83);
INSERT INTO score VALUES(1806100095,124,76);
INSERT INTO score VALUES(1806100099,124,86);
INSERT INTO score VALUES(1806100100,124,80);
INSERT INTO score VALUES(1806100102,124,85);
INSERT INTO score VALUES(1806100104,124,84);
INSERT INTO score VALUES(1806100105,124,88);
INSERT INTO score VALUES(1806100107,124,89);
INSERT INTO score VALUES(1806100114,124,90);
INSERT INTO score VALUES(1806100123,124,61);
INSERT INTO score VALUES(1806100124,124,56);
INSERT INTO score VALUES(1806100134,124,74);
INSERT INTO score VALUES(1806100151,124,62);
INSERT INTO score VALUES(1806100152,124,93);
INSERT INTO score VALUES(1806100153,124,91);
INSERT INTO score VALUES(1806100158,124,55);
INSERT INTO score VALUES(1806100163,124,97);
INSERT INTO score VALUES(1806100164,124,60);
INSERT INTO score VALUES(1806100184,124,87);
INSERT INTO score VALUES(1806100185,124,62);
INSERT INTO score VALUES(1806100187,124,50);
INSERT INTO score VALUES(1806100190,124,88);
INSERT INTO score VALUES(1806100221,124,76);
INSERT INTO score VALUES(1806100001,103,51);
INSERT INTO score VALUES(1806100007,103,83);
INSERT INTO score VALUES(1806100010,103,70);
INSERT INTO score VALUES(1806100017,103,59);
INSERT INTO score VALUES(1806100018,103,68);
INSERT INTO score VALUES(1806100027,103,52);
INSERT INTO score VALUES(1806100028,103,95);
INSERT INTO score VALUES(1806100041,103,81);
INSERT INTO score VALUES(1806100042,103,63);
INSERT INTO score VALUES(1806100051,103,62);
INSERT INTO score VALUES(1806100052,103,89);
INSERT INTO score VALUES(1806100064,103,89);
INSERT INTO score VALUES(1806100067,103,54);
INSERT INTO score VALUES(1806100076,103,85);
INSERT INTO score VALUES(1806100079,103,81);
INSERT INTO score VALUES(1806100081,103,98);
INSERT INTO score VALUES(1806100082,103,82);
INSERT INTO score VALUES(1806100091,103,69);
INSERT INTO score VALUES(1806100092,103,54);
INSERT INTO score VALUES(1806100095,103,62);
INSERT INTO score VALUES(1806100099,103,69);
INSERT INTO score VALUES(1806100100,103,72);
INSERT INTO score VALUES(1806100102,103,71);
INSERT INTO score VALUES(1806100104,103,63);
INSERT INTO score VALUES(1806100105,103,86);
INSERT INTO score VALUES(1806100107,103,73);
INSERT INTO score VALUES(1806100114,103,87);
INSERT INTO score VALUES(1806100123,103,71);
INSERT INTO score VALUES(1806100124,103,81);
INSERT INTO score VALUES(1806100134,103,64);
INSERT INTO score VALUES(1806100151,103,81);
INSERT INTO score VALUES(1806100152,103,83);
INSERT INTO score VALUES(1806100153,103,59);
INSERT INTO score VALUES(1806100158,103,92);
INSERT INTO score VALUES(1806100163,103,93);
INSERT INTO score VALUES(1806100164,103,55);
INSERT INTO score VALUES(1806100184,103,67);
INSERT INTO score VALUES(1806100185,103,62);
INSERT INTO score VALUES(1806100187,103,55);
INSERT INTO score VALUES(1806100190,103,91);
INSERT INTO score VALUES(1806100221,103,65);
INSERT INTO score VALUES(1806100001,106,80);
INSERT INTO score VALUES(1806100007,106,94);
INSERT INTO score VALUES(1806100010,106,65);
INSERT INTO score VALUES(1806100017,106,69);
INSERT INTO score VALUES(1806100018,106,90);
INSERT INTO score VALUES(1806100027,106,93);
INSERT INTO score VALUES(1806100028,106,78);
INSERT INTO score VALUES(1806100041,106,68);
INSERT INTO score VALUES(1806100042,106,66);
INSERT INTO score VALUES(1806100051,106,96);
INSERT INTO score VALUES(1806100052,106,90);
INSERT INTO score VALUES(1806100064,106,63);
INSERT INTO score VALUES(1806100067,106,99);
INSERT INTO score VALUES(1806100076,106,78);
INSERT INTO score VALUES(1806100079,106,84);
INSERT INTO score VALUES(1806100081,106,77);
INSERT INTO score VALUES(1806100082,106,60);
INSERT INTO score VALUES(1806100091,106,81);
INSERT INTO score VALUES(1806100092,106,56);
INSERT INTO score VALUES(1806100095,106,64);
INSERT INTO score VALUES(1806100099,106,57);
INSERT INTO score VALUES(1806100100,106,59);
INSERT INTO score VALUES(1806100102,106,60);

INSERT INTO score VALUES(1806100024,112,78);
INSERT INTO score VALUES(1806100031,112,56);
INSERT INTO score VALUES(1806100035,112,94);
INSERT INTO score VALUES(1806100038,112,76);
INSERT INTO score VALUES(1806100045,112,72);
INSERT INTO score VALUES(1806100055,112,92);
INSERT INTO score VALUES(1806100058,112,74);
INSERT INTO score VALUES(1806100060,112,95);
INSERT INTO score VALUES(1806100063,112,51);
INSERT INTO score VALUES(1806100066,112,67);
INSERT INTO score VALUES(1806100070,112,81);
INSERT INTO score VALUES(1806100073,112,53);
INSERT INTO score VALUES(1806100078,112,73);
INSERT INTO score VALUES(1806100085,112,87);
INSERT INTO score VALUES(1806100088,112,76);
INSERT INTO score VALUES(1806100098,112,61);
INSERT INTO score VALUES(1806100101,112,59);
INSERT INTO score VALUES(1806100108,112,90);
INSERT INTO score VALUES(1806100117,112,90);
INSERT INTO score VALUES(1806100120,112,79);
INSERT INTO score VALUES(1806100127,112,75);
INSERT INTO score VALUES(1806100130,112,60);
INSERT INTO score VALUES(1806100137,112,65);
INSERT INTO score VALUES(1806100140,112,96);
INSERT INTO score VALUES(1806100147,112,96);
INSERT INTO score VALUES(1806100150,112,72);
INSERT INTO score VALUES(1806100154,112,84);
INSERT INTO score VALUES(1806100167,112,58);
INSERT INTO score VALUES(1806100170,112,78);
INSERT INTO score VALUES(1806100173,112,90);
INSERT INTO score VALUES(1806100175,112,50);
INSERT INTO score VALUES(1806100177,112,72);
INSERT INTO score VALUES(1806100181,112,56);
INSERT INTO score VALUES(1806100188,112,99);
INSERT INTO score VALUES(1806100198,112,97);
INSERT INTO score VALUES(1806100201,112,84);
INSERT INTO score VALUES(1806100011,118,76);
INSERT INTO score VALUES(1806100014,118,86);
INSERT INTO score VALUES(1806100021,118,66);
INSERT INTO score VALUES(1806100024,118,85);
INSERT INTO score VALUES(1806100031,118,54);
INSERT INTO score VALUES(1806100035,118,99);
INSERT INTO score VALUES(1806100038,118,68);
INSERT INTO score VALUES(1806100045,118,72);
INSERT INTO score VALUES(1806100055,118,51);
INSERT INTO score VALUES(1806100058,118,90);
INSERT INTO score VALUES(1806100060,118,56);
INSERT INTO score VALUES(1806100063,118,75);
INSERT INTO score VALUES(1806100066,118,71);
INSERT INTO score VALUES(1806100070,118,74);
INSERT INTO score VALUES(1806100073,118,99);
INSERT INTO score VALUES(1806100078,118,52);
INSERT INTO score VALUES(1806100085,118,65);
INSERT INTO score VALUES(1806100088,118,97);
INSERT INTO score VALUES(1806100098,118,94);
INSERT INTO score VALUES(1806100101,118,84);
INSERT INTO score VALUES(1806100108,118,73);
INSERT INTO score VALUES(1806100117,118,81);
INSERT INTO score VALUES(1806100120,118,80);
INSERT INTO score VALUES(1806100127,118,53);
INSERT INTO score VALUES(1806100130,118,94);
INSERT INTO score VALUES(1806100137,118,76);
INSERT INTO score VALUES(1806100140,118,89);
INSERT INTO score VALUES(1806100147,118,70);
INSERT INTO score VALUES(1806100150,118,62);
INSERT INTO score VALUES(1806100154,118,60);
INSERT INTO score VALUES(1806100167,118,50);
INSERT INTO score VALUES(1806100170,118,60);
INSERT INTO score VALUES(1806100173,118,52);
INSERT INTO score VALUES(1806100175,118,62);
INSERT INTO score VALUES(1806100177,118,81);
INSERT INTO score VALUES(1806100181,118,71);
INSERT INTO score VALUES(1806100188,118,51);
INSERT INTO score VALUES(1806100198,118,61);
INSERT INTO score VALUES(1806100201,118,74);
INSERT INTO score VALUES(1806100011,123,75);
INSERT INTO score VALUES(1806100014,123,78);
INSERT INTO score VALUES(1806100021,123,62);
INSERT INTO score VALUES(1806100024,123,98);
INSERT INTO score VALUES(1806100031,123,52);
INSERT INTO score VALUES(1806100035,123,63);
INSERT INTO score VALUES(1806100038,123,62);
INSERT INTO score VALUES(1806100045,123,68);
INSERT INTO score VALUES(1806100055,123,67);
INSERT INTO score VALUES(1806100058,123,59);
INSERT INTO score VALUES(1806100060,123,83);
INSERT INTO score VALUES(1806100063,123,72);
INSERT INTO score VALUES(1806100066,123,73);
INSERT INTO score VALUES(1806100070,123,82);
INSERT INTO score VALUES(1806100073,123,56);
INSERT INTO score VALUES(1806100078,123,63);
INSERT INTO score VALUES(1806100085,123,90);
INSERT INTO score VALUES(1806100088,123,91);
INSERT INTO score VALUES(1806100098,123,58);
INSERT INTO score VALUES(1806100101,123,93);
INSERT INTO score VALUES(1806100108,123,78);
INSERT INTO score VALUES(1806100117,123,52);
INSERT INTO score VALUES(1806100120,123,63);
INSERT INTO score VALUES(1806100127,123,52);
INSERT INTO score VALUES(1806100130,123,56);
INSERT INTO score VALUES(1806100137,123,58);
INSERT INTO score VALUES(1806100140,123,79);
INSERT INTO score VALUES(1806100147,123,60);
INSERT INTO score VALUES(1806100150,123,78);
INSERT INTO score VALUES(1806100154,123,52);
INSERT INTO score VALUES(1806100167,123,72);
INSERT INTO score VALUES(1806100170,123,90);
INSERT INTO score VALUES(1806100173,123,50);
INSERT INTO score VALUES(1806100175,123,70);
INSERT INTO score VALUES(1806100177,123,51);
INSERT INTO score VALUES(1806100181,123,94);
INSERT INTO score VALUES(1806100188,123,51);
INSERT INTO score VALUES(1806100198,123,69);
INSERT INTO score VALUES(1806100201,123,90);
INSERT INTO score VALUES(1806100011,126,80);
INSERT INTO score VALUES(1806100014,126,53);
INSERT INTO score VALUES(1806100021,126,89);
INSERT INTO score VALUES(1806100024,126,93);
INSERT INTO score VALUES(1806100031,126,51);
INSERT INTO score VALUES(1806100035,126,74);
INSERT INTO score VALUES(1806100038,126,69);
INSERT INTO score VALUES(1806100045,126,87);
INSERT INTO score VALUES(1806100055,126,94);
INSERT INTO score VALUES(1806100058,126,99);
INSERT INTO score VALUES(1806100060,126,99);
INSERT INTO score VALUES(1806100063,126,54);
INSERT INTO score VALUES(1806100066,126,90);
INSERT INTO score VALUES(1806100070,126,68);
INSERT INTO score VALUES(1806100073,126,68);
INSERT INTO score VALUES(1806100078,126,99);
INSERT INTO score VALUES(1806100085,126,56);
INSERT INTO score VALUES(1806100088,126,58);
INSERT INTO score VALUES(1806100098,126,91);
INSERT INTO score VALUES(1806100101,126,78);
INSERT INTO score VALUES(1806100108,126,79);
INSERT INTO score VALUES(1806100117,126,61);
INSERT INTO score VALUES(1806100120,126,87);
INSERT INTO score VALUES(1806100127,126,56);
INSERT INTO score VALUES(1806100130,126,98);
INSERT INTO score VALUES(1806100137,126,90);
INSERT INTO score VALUES(1806100140,126,89);
INSERT INTO score VALUES(1806100147,126,66);
INSERT INTO score VALUES(1806100150,126,92);
INSERT INTO score VALUES(1806100154,126,76);
INSERT INTO score VALUES(1806100167,126,74);
INSERT INTO score VALUES(1806100170,126,62);
INSERT INTO score VALUES(1806100173,126,68);
INSERT INTO score VALUES(1806100175,126,94);
INSERT INTO score VALUES(1806100177,126,68);
INSERT INTO score VALUES(1806100181,126,87);
INSERT INTO score VALUES(1806100188,126,87);
INSERT INTO score VALUES(1806100198,126,99);
INSERT INTO score VALUES(1806100201,126,90);
INSERT INTO score VALUES(1806100011,105,74);
INSERT INTO score VALUES(1806100014,105,85);
INSERT INTO score VALUES(1806100021,105,64);
INSERT INTO score VALUES(1806100024,105,90);
INSERT INTO score VALUES(1806100031,105,57);
INSERT INTO score VALUES(1806100035,105,86);
INSERT INTO score VALUES(1806100038,105,83);
INSERT INTO score VALUES(1806100045,105,97);
INSERT INTO score VALUES(1806100055,105,97);
INSERT INTO score VALUES(1806100058,105,52);
INSERT INTO score VALUES(1806100060,105,94);
INSERT INTO score VALUES(1806100063,105,75);
INSERT INTO score VALUES(1806100066,105,50);
INSERT INTO score VALUES(1806100070,105,71);
INSERT INTO score VALUES(1806100073,105,77);
INSERT INTO score VALUES(1806100078,105,95);
INSERT INTO score VALUES(1806100085,105,94);
INSERT INTO score VALUES(1806100088,105,93);
INSERT INTO score VALUES(1806100098,105,57);
INSERT INTO score VALUES(1806100101,105,56);
INSERT INTO score VALUES(1806100108,105,98);
INSERT INTO score VALUES(1806100117,105,88);
INSERT INTO score VALUES(1806100120,105,91);
INSERT INTO score VALUES(1806100127,105,58);
INSERT INTO score VALUES(1806100130,105,78);
INSERT INTO score VALUES(1806100137,105,96);
INSERT INTO score VALUES(1806100140,105,81);
INSERT INTO score VALUES(1806100147,105,51);
INSERT INTO score VALUES(1806100150,105,80);
INSERT INTO score VALUES(1806100154,105,92);
INSERT INTO score VALUES(1806100167,105,68);
INSERT INTO score VALUES(1806100170,105,52);
INSERT INTO score VALUES(1806100173,105,84);
INSERT INTO score VALUES(1806100175,105,87);
INSERT INTO score VALUES(1806100177,105,61);
INSERT INTO score VALUES(1806100181,105,92);
INSERT INTO score VALUES(1806100188,105,71);
INSERT INTO score VALUES(1806100198,105,91);
INSERT INTO score VALUES(1806100201,105,65);
INSERT INTO score VALUES(1806100011,107,68);
INSERT INTO score VALUES(1806100014,107,70);
INSERT INTO score VALUES(1806100021,107,60);
INSERT INTO score VALUES(1806100024,107,81);
INSERT INTO score VALUES(1806100031,107,68);
INSERT INTO score VALUES(1806100035,107,56);
INSERT INTO score VALUES(1806100038,107,66);
INSERT INTO score VALUES(1806100045,107,59);
INSERT INTO score VALUES(1806100055,107,60);
INSERT INTO score VALUES(1806100058,107,68);
INSERT INTO score VALUES(1806100060,107,64);
INSERT INTO score VALUES(1806100063,107,75);
INSERT INTO score VALUES(1806100066,107,51);
INSERT INTO score VALUES(1806100070,107,87);
INSERT INTO score VALUES(1806100073,107,85);
INSERT INTO score VALUES(1806100078,107,89);
INSERT INTO score VALUES(1806100085,107,77);
INSERT INTO score VALUES(1806100088,107,92);
INSERT INTO score VALUES(1806100098,107,80);
INSERT INTO score VALUES(1806100101,107,86);
INSERT INTO score VALUES(1806100108,107,58);
INSERT INTO score VALUES(1806100117,107,68);
INSERT INTO score VALUES(1806100120,107,74);
INSERT INTO score VALUES(1806100127,107,63);
INSERT INTO score VALUES(1806100130,107,89);
INSERT INTO score VALUES(1806100137,107,81);
INSERT INTO score VALUES(1806100140,107,89);
INSERT INTO score VALUES(1806100147,107,83);
INSERT INTO score VALUES(1806100150,107,59);
INSERT INTO score VALUES(1806100154,107,71);
INSERT INTO score VALUES(1806100167,107,59);
INSERT INTO score VALUES(1806100170,107,82);
INSERT INTO score VALUES(1806100173,107,68);
INSERT INTO score VALUES(1806100175,107,89);
INSERT INTO score VALUES(1806100177,107,74);
INSERT INTO score VALUES(1806100181,107,71);
INSERT INTO score VALUES(1806100188,107,97);
INSERT INTO score VALUES(1806100198,107,50);
INSERT INTO score VALUES(1806100201,107,62);
INSERT INTO score VALUES(1806100005,112,87);
INSERT INTO score VALUES(1806100012,112,57);
INSERT INTO score VALUES(1806100013,112,83);
INSERT INTO score VALUES(1806100022,112,77);
INSERT INTO score VALUES(1806100023,112,50);
INSERT INTO score VALUES(1806100032,112,51);
INSERT INTO score VALUES(1806100036,112,90);
INSERT INTO score VALUES(1806100037,112,85);
INSERT INTO score VALUES(1806100046,112,55);
INSERT INTO score VALUES(1806100047,112,64);
INSERT INTO score VALUES(1806100056,112,93);
INSERT INTO score VALUES(1806100057,112,62);
INSERT INTO score VALUES(1806100061,112,69);
INSERT INTO score VALUES(1806100062,112,81);
INSERT INTO score VALUES(1806100071,112,62);
INSERT INTO score VALUES(1806100072,112,94);
INSERT INTO score VALUES(1806100086,112,73);
INSERT INTO score VALUES(1806100087,112,53);
INSERT INTO score VALUES(1806100109,112,99);
INSERT INTO score VALUES(1806100113,112,58);
INSERT INTO score VALUES(1806100118,112,67);
INSERT INTO score VALUES(1806100119,112,51);
INSERT INTO score VALUES(1806100128,112,75);
INSERT INTO score VALUES(1806100129,112,88);
INSERT INTO score VALUES(1806100138,112,52);
INSERT INTO score VALUES(1806100139,112,92);
INSERT INTO score VALUES(1806100144,112,72);
INSERT INTO score VALUES(1806100148,112,52);
INSERT INTO score VALUES(1806100149,112,81);
INSERT INTO score VALUES(1806100156,112,90);
INSERT INTO score VALUES(1806100157,112,99);
INSERT INTO score VALUES(1806100168,112,68);
INSERT INTO score VALUES(1806100169,112,64);
INSERT INTO score VALUES(1806100174,112,90);
INSERT INTO score VALUES(1806100176,112,76);
INSERT INTO score VALUES(1806100179,112,64);
INSERT INTO score VALUES(1806100180,112,81);
INSERT INTO score VALUES(1806100199,112,97);
INSERT INTO score VALUES(1806100200,112,82);
INSERT INTO score VALUES(1806107239,112,96);
INSERT INTO score VALUES(1806100005,118,90);
INSERT INTO score VALUES(1806100012,118,93);
INSERT INTO score VALUES(1806100013,118,59);
INSERT INTO score VALUES(1806100022,118,86);
INSERT INTO score VALUES(1806100023,118,52);
INSERT INTO score VALUES(1806100032,118,81);
INSERT INTO score VALUES(1806100036,118,72);
INSERT INTO score VALUES(1806100037,118,84);
INSERT INTO score VALUES(1806100046,118,94);
INSERT INTO score VALUES(1806100047,118,97);
INSERT INTO score VALUES(1806100056,118,71);
INSERT INTO score VALUES(1806100057,118,93);
INSERT INTO score VALUES(1806100061,118,76);
INSERT INTO score VALUES(1806100062,118,84);
INSERT INTO score VALUES(1806100071,118,69);
INSERT INTO score VALUES(1806100072,118,78);
INSERT INTO score VALUES(1806100086,118,95);
INSERT INTO score VALUES(1806100087,118,80);
INSERT INTO score VALUES(1806100109,118,68);
INSERT INTO score VALUES(1806100113,118,60);
INSERT INTO score VALUES(1806100118,118,53);
INSERT INTO score VALUES(1806100119,118,92);
INSERT INTO score VALUES(1806100128,118,62);
INSERT INTO score VALUES(1806100129,118,84);
INSERT INTO score VALUES(1806100138,118,66);
INSERT INTO score VALUES(1806100139,118,67);
INSERT INTO score VALUES(1806100144,118,96);
INSERT INTO score VALUES(1806100148,118,63);
INSERT INTO score VALUES(1806100149,118,62);
INSERT INTO score VALUES(1806100156,118,90);
INSERT INTO score VALUES(1806100157,118,86);
INSERT INTO score VALUES(1806100168,118,68);
INSERT INTO score VALUES(1806100169,118,62);
INSERT INTO score VALUES(1806100174,118,58);
INSERT INTO score VALUES(1806100176,118,87);
INSERT INTO score VALUES(1806100179,118,80);
INSERT INTO score VALUES(1806100180,118,68);
INSERT INTO score VALUES(1806100199,118,58);
INSERT INTO score VALUES(1806100200,118,63);
INSERT INTO score VALUES(1806107239,118,68);
INSERT INTO score VALUES(1806100005,123,79);
INSERT INTO score VALUES(1806100012,123,76);
INSERT INTO score VALUES(1806100013,123,92);
INSERT INTO score VALUES(1806100022,123,97);
INSERT INTO score VALUES(1806100023,123,93);
INSERT INTO score VALUES(1806100032,123,71);
INSERT INTO score VALUES(1806100036,123,90);
INSERT INTO score VALUES(1806100037,123,76);
INSERT INTO score VALUES(1806100046,123,98);
INSERT INTO score VALUES(1806100047,123,63);
INSERT INTO score VALUES(1806100056,123,72);
INSERT INTO score VALUES(1806100057,123,50);
INSERT INTO score VALUES(1806100061,123,63);
INSERT INTO score VALUES(1806100062,123,58);
INSERT INTO score VALUES(1806100071,123,57);
INSERT INTO score VALUES(1806100072,123,86);
INSERT INTO score VALUES(1806100086,123,91);
INSERT INTO score VALUES(1806100087,123,97);
INSERT INTO score VALUES(1806100109,123,85);
INSERT INTO score VALUES(1806100113,123,59);
INSERT INTO score VALUES(1806100118,123,54);
INSERT INTO score VALUES(1806100119,123,92);
INSERT INTO score VALUES(1806100128,123,69);
INSERT INTO score VALUES(1806100129,123,94);
INSERT INTO score VALUES(1806100138,123,53);
INSERT INTO score VALUES(1806100139,123,77);
INSERT INTO score VALUES(1806100144,123,86);
INSERT INTO score VALUES(1806100148,123,88);
INSERT INTO score VALUES(1806100149,123,51);
INSERT INTO score VALUES(1806100156,123,82);
INSERT INTO score VALUES(1806100157,123,73);
INSERT INTO score VALUES(1806100168,123,97);
INSERT INTO score VALUES(1806100169,123,86);
INSERT INTO score VALUES(1806100174,123,76);
INSERT INTO score VALUES(1806100176,123,61);
INSERT INTO score VALUES(1806100179,123,73);
INSERT INTO score VALUES(1806100180,123,67);
INSERT INTO score VALUES(1806100199,123,51);
INSERT INTO score VALUES(1806100200,123,56);
INSERT INTO score VALUES(1806107239,123,57);
INSERT INTO score VALUES(1806100005,126,85);
INSERT INTO score VALUES(1806100012,126,87);
INSERT INTO score VALUES(1806100013,126,69);
INSERT INTO score VALUES(1806100022,126,58);
INSERT INTO score VALUES(1806100023,126,54);
INSERT INTO score VALUES(1806100032,126,67);
INSERT INTO score VALUES(1806100036,126,55);
INSERT INTO score VALUES(1806100037,126,58);
INSERT INTO score VALUES(1806100046,126,93);
INSERT INTO score VALUES(1806100047,126,51);
INSERT INTO score VALUES(1806100056,126,51);
INSERT INTO score VALUES(1806100057,126,60);
INSERT INTO score VALUES(1806100061,126,53);
INSERT INTO score VALUES(1806100062,126,96);
INSERT INTO score VALUES(1806100071,126,86);
INSERT INTO score VALUES(1806100072,126,70);
INSERT INTO score VALUES(1806100086,126,91);
INSERT INTO score VALUES(1806100087,126,85);
INSERT INTO score VALUES(1806100109,126,67);
INSERT INTO score VALUES(1806100113,126,88);
INSERT INTO score VALUES(1806100118,126,59);
INSERT INTO score VALUES(1806100119,126,84);
INSERT INTO score VALUES(1806100128,126,93);
INSERT INTO score VALUES(1806100129,126,84);
INSERT INTO score VALUES(1806100138,126,90);
INSERT INTO score VALUES(1806100139,126,77);
INSERT INTO score VALUES(1806100144,126,99);
INSERT INTO score VALUES(1806100148,126,79);
INSERT INTO score VALUES(1806100149,126,77);
INSERT INTO score VALUES(1806100156,126,61);
INSERT INTO score VALUES(1806100157,126,89);
INSERT INTO score VALUES(1806100168,126,57);
INSERT INTO score VALUES(1806100169,126,86);
INSERT INTO score VALUES(1806100174,126,58);
INSERT INTO score VALUES(1806100176,126,53);
INSERT INTO score VALUES(1806100179,126,78);
INSERT INTO score VALUES(1806100180,126,89);
INSERT INTO score VALUES(1806100199,126,87);
INSERT INTO score VALUES(1806100200,126,90);
INSERT INTO score VALUES(1806107239,126,98);
INSERT INTO score VALUES(1806100005,105,87);
INSERT INTO score VALUES(1806100012,105,87);
INSERT INTO score VALUES(1806100013,105,70);
INSERT INTO score VALUES(1806100022,105,50);
INSERT INTO score VALUES(1806100023,105,55);
INSERT INTO score VALUES(1806100032,105,70);
INSERT INTO score VALUES(1806100036,105,71);
INSERT INTO score VALUES(1806100037,105,57);
INSERT INTO score VALUES(1806100046,105,96);
INSERT INTO score VALUES(1806100047,105,92);
INSERT INTO score VALUES(1806100056,105,83);
INSERT INTO score VALUES(1806100057,105,58);
INSERT INTO score VALUES(1806100061,105,97);
INSERT INTO score VALUES(1806100062,105,81);
INSERT INTO score VALUES(1806100071,105,83);
INSERT INTO score VALUES(1806100072,105,69);
INSERT INTO score VALUES(1806100086,105,80);
INSERT INTO score VALUES(1806100087,105,90);
INSERT INTO score VALUES(1806100109,105,54);
INSERT INTO score VALUES(1806100113,105,96);
INSERT INTO score VALUES(1806100118,105,97);
INSERT INTO score VALUES(1806100119,105,69);
INSERT INTO score VALUES(1806100128,105,67);
INSERT INTO score VALUES(1806100129,105,70);
INSERT INTO score VALUES(1806100138,105,87);
INSERT INTO score VALUES(1806100139,105,54);
INSERT INTO score VALUES(1806100144,105,83);
INSERT INTO score VALUES(1806100148,105,73);
INSERT INTO score VALUES(1806100149,105,54);
INSERT INTO score VALUES(1806100156,105,87);
INSERT INTO score VALUES(1806100157,105,96);
INSERT INTO score VALUES(1806100168,105,84);
INSERT INTO score VALUES(1806100169,105,56);
INSERT INTO score VALUES(1806100174,105,62);
INSERT INTO score VALUES(1806100176,105,78);
INSERT INTO score VALUES(1806100179,105,75);
INSERT INTO score VALUES(1806100180,105,84);
INSERT INTO score VALUES(1806100199,105,75);
INSERT INTO score VALUES(1806100200,105,60);
INSERT INTO score VALUES(1806107239,105,71);
INSERT INTO score VALUES(1806100005,107,98);
INSERT INTO score VALUES(1806100012,107,92);
INSERT INTO score VALUES(1806100013,107,88);
INSERT INTO score VALUES(1806100022,107,75);
INSERT INTO score VALUES(1806100023,107,91);
INSERT INTO score VALUES(1806100032,107,59);
INSERT INTO score VALUES(1806100036,107,60);
INSERT INTO score VALUES(1806100037,107,77);
INSERT INTO score VALUES(1806100046,107,87);
INSERT INTO score VALUES(1806100047,107,90);
INSERT INTO score VALUES(1806100056,107,90);
INSERT INTO score VALUES(1806100057,107,81);
INSERT INTO score VALUES(1806100061,107,91);